<app-screen-filter class="w-full md:w-[25rem]" (filterChange)="onFilterChange($event)" [showOrientation]="true" />

<div class="grid grid-cols-2 md:grid-cols-3 gap-3 overflow-y-auto p-2 mt-3 h-80">
    @for (screen of filteredScreen(); track $index) {
        <p-card styleClass="h-full cursor-pointer" clickable (click)="onSelectionChange(screen)"
            [ngClass]="{ 'ring ring-2 ring-offset-2 ring-orange-200 rounded-lg' : selectedScreen()?.id == screen.id }"
        >
            <div class="flex flex-col items-center justify-center gap-4 h-full">
                <div class="border-3 border-gray-300" [ngStyle]="onGetPreviewStyle(screen)"></div>
            </div>
            <ng-template #footer>
                <div class="flex flex-col items-center">
                    <p class="font-semibold">{{ screen.name }}</p>
                    <p class="text-sm">{{ screen.displaySettings.resolution }}</p>
                </div>
            </ng-template>
        </p-card>
    }
</div>