<p-card>
    <ng-template #title>
        <div class="flex gap-2 items-center">
            <div class="flex gap-2">
                <p class="text-sm md:text-lg font-semibold">{{ item.name }}</p>
                <p-tag [value]="item.category" />
            </div>
            <div class="flex gap-2 items-center ml-auto">
                <i class="pi pi-clock" [style]="{ 'font-size': '0.75rem'}"></i>
                <p class="ml-auto text-sm italic">{{ utils.onGetLastUpdatedLabel(item.updatedOn) }}</p>
            </div>
        </div>
    </ng-template>
    <p-divider />
    <div class="flex flex-col my-5 gap-5">
        <div class="flex flex-col gap-2">
            <p class="font-medium">{{ item.title }}</p>
            <p class="text-xs md:text-sm">{{ item.description }}</p>
        </div>
        <div class="flex flex-col gap-3">
            <p class="text-xs italic">message:</p>
            <p>{{ item.message }}</p>
        </div>
    </div>
    <ng-template #footer>
        <div class="flex justify-end gap-2">
            <ng-container *ngTemplateOutlet="actionBtn; context: { $implicit: item }"></ng-container>
        </div>
    </ng-template>
</p-card>