<div class="relative flex flex-col gap-4 justify-center items-center h-screen relative group overflow-hidden bg-[var(--p-primary-500)]">

  <ng-container *ngIf="currentContent()">
    <app-content-container class="absolute h-full w-full flex items-center justify-center" (mousemove)="onMouseMove()" [ngClass]="{ 'cursor-none': hideCursor() }"
        [currentContent]="currentContent()" [isPlaying]="isPlaying()" (timeUpdate)="onTimeUpdate($event)" [autoPlay]="true" />

  </ng-container>

  <!-- <div class="absolute bottom-0 z-50 w-full opacity-0 translate-y-2 transition-all duration-300 
    group-hover:opacity-100 group-hover:translate-y-0" >
    <div class="w-full flex flex-col justify-center gap-2">
      <p-progressbar styleClass="!rounded-none" [value]="player.progress()" [style]="{ height: '0.5rem' }" [showValue]="false"></p-progressbar>
    </div>
  </div> -->

  <ng-container *ngIf="!currentContent() && !isPlaying()">
    <div class="absolute top-0 start-0 flex items-center justify-center p-6">
      <img class="w-30" src="assets/vcastplay.png" alt="vcastplay 2.0 logo">
    </div>

    <div class="absolute h-full w-full flex flex-col gap-4 items-center justify-center">
      <p class="text-5xl md:text-8xl font-bold text-white tracking-[1.25rem] md:tracking-[1.75rem]">{{ systemInfo()?.playerCode }}</p>
      <p class="text-lg font-light text-white">Player Code</p>
    </div>
  </ng-container>
  

  <div class="absolute bottom-3 right-3 flex items-center gap-1 m-2">
    <p class="text-[10px] md:text-sm text-zinc-300">{{ systemInfo()?.code ?? '000000000' }}: {{ systemInfo()?.appVersion ?? '0.0.0' }}</p>
  </div>

  <!-- @if (isDev()) {
    <div class="absolute top-3 right-3 p-2 flex flex-col items-center gap-3">
      @if (networkService.isOnline()) {
        <p-chip class="text-xs" [style]="{ 'background-color': 'var(--color-green-200)' }">
          <div class="h-2 w-2 rounded-xl bg-green-600"></div>
          <p class="text-green-600 font-semibold">ONLINE</p>
        </p-chip>
      } @else {
        <p-chip class="text-xs" [style]="{ 'background-color': 'var(--color-red-200)' }">
          <div class="h-2 w-2 rounded-xl bg-red-600"></div>
          <p class="text-red-600 font-semibold">OFFLINE</p>
        </p-chip>
      }
    </div>
  } -->
</div>