<div
  #viewport
  class="relative flex flex-col gap-4 justify-center items-center h-screen relative group overflow-hidden select-none"
  [ngClass]="{ 'bg-[var(--p-primary-500)]': !isPlay(), 'bg-stone-800': isPlay() }"
>
  <!-- Main Player -->
  <ng-container *ngIf="currentContent as contentData">
    @switch (contentData?.type) { @case ('design') {
    <app-preview-design-layout
      class="flex-1 h-full w-full flex items-center justify-center"
      [ngClass]="{ 'opacity-100': isPlay(), 'opacity-0': !isPlay() }"
      [viewport]="viewport"
      [contentData]="contentData"
      (isDoneRendering)="onDoneRendering($event)"
    />
    } @case('playlist') {
    <app-preview-content-renderer
      class="relative w-full h-full group bg-stone-800 text-white rounded-lg"
      [ngClass]="{ 'opacity-100': isPlay(), 'opacity-0': !isPlay() }"
      [autoPlay]="true"
      [contentData]="contentData"
    />
    } @default {
    <app-preview-assets
      class="absolute h-full w-full flex items-center justify-center"
      [ngClass]="{ 'opacity-100': isPlay(), 'opacity-0': !isPlay() }"
      [currentContent]="contentData"
      (timeUpdate)="onProgressUpdate(contentData.id, $event)"
    />
    } }
  </ng-container>

  <ng-container *ngIf="!currentContent">
    <div class="absolute top-0 start-0 flex items-center justify-center p-6">
      <img class="w-30" src="assets/vcastplay.png" alt="vcastplay 2.0 logo" />
    </div>

    @if (isDev()) {
    <div class="absolute top-3 right-3 p-2 flex flex-col items-center gap-3">
      @if (networkService.isOnline()) {
      <p-chip class="text-xs" [style]="{ 'background-color': 'var(--color-green-200)' }">
        <div class="h-2 w-2 rounded-xl bg-green-600"></div>
        <p class="text-green-600 font-semibold">ONLINE</p>
      </p-chip>
      } @else {
      <p-chip class="text-xs" [style]="{ 'background-color': 'var(--color-red-200)' }">
        <div class="h-2 w-2 rounded-xl bg-red-600"></div>
        <p class="text-red-600 font-semibold">OFFLINE</p>
      </p-chip>
      }
    </div>
    }

    <div class="absolute h-full w-full flex flex-col gap-4 items-center justify-center">
      <p class="text-5xl md:text-8xl font-bold text-white tracking-[1.25rem] md:tracking-[1.75rem]">
        {{ systemInfo()?.playerCode }}
      </p>
      <p class="text-lg font-light text-white">Player Code</p>
    </div>
  </ng-container>

  <div class="absolute bottom-0 left-0 flex items-center gap-1 p-2 w-full">
    <div class="grid grid-cols-5 gap-3">
      <p-button
        label="Asset"
        (onClick)="onClickSetContent('asset')"
        severity="secondary"
        size="small"
        fluid
      />
      <p-button
        label="Playlist"
        (onClick)="onClickSetContent('playlist')"
        severity="secondary"
        size="small"
        fluid
      />
      <p-button
        label="Design"
        (onClick)="onClickSetContent('design')"
        severity="secondary"
        size="small"
        fluid
      />
      <p-button
        label="Design 2"
        (onClick)="onClickSetContent('design2')"
        severity="secondary"
        size="small"
        fluid
      />
      <p-button
        label="Stop"
        (onClick)="onClikcStopPreview()"
        severity="secondary"
        size="small"
        fluid
      />
      @if (['android', 'desktop'].includes(platform)) {
      <!-- <p-button label="Notepad" (onClick)="onClickNotepad()" severity="secondary" size="small" /> -->
      <p-button
        label="Settings"
        (onClick)="showSettings.set(true)"
        severity="secondary"
        size="small"
      />
      }
    </div>
    <p class="text-[10px] md:text-sm text-zinc-300 ml-auto">
      {{ systemInfo()?.code ?? '000000000' }}: {{ systemInfo()?.appVersion ?? '0.0.0' }}
    </p>
  </div>
</div>

<!-- Remove this code -->
<p-dialog
  header="Settings"
  [(visible)]="showSettings"
  [style]="{ width: '20rem' }"
  [resizable]="false"
  (onShow)="onShowSettings()"
  (onHide)="showSettings.set(false)"
  draggable
  modal
>
  <form class="flex flex-col gap-3" [formGroup]="settingsForm">
    <div class="flex gap-3">
      <label for="left" class="text-sm">Always On:</label>
      <p-toggleswitch class="ml-auto" formControlName="alwaysOn" />
    </div>
    <div class="flex gap-3">
      <label for="left" class="text-sm">Audio:</label>
      <p-toggleswitch class="ml-auto" formControlName="toggleAudio" />
    </div>
    <div class="flex gap-3">
      <label for="left" class="text-sm">Content Logs:</label>
      <p-toggleswitch class="ml-auto" formControlName="contentLogs" />
    </div>
    @if (['desktop'].includes(platform)) {
    <div class="flex gap-3">
      <label for="left" class="text-sm">Always On Top:</label>
      <p-toggleswitch class="ml-auto" formControlName="alwaysOnTop" />
    </div>
    <div class="flex gap-3">
      <label for="fullscreen" class="text-sm">Select Display:</label>
      <p-select
        class="ml-auto"
        formControlName="displayId"
        [options]="displayOptions"
        optionLabel="name"
        optionValue="id"
        appendTo="body"
        placeholder="Select display"
      />
    </div>
    <div class="flex gap-3">
      <label for="fullscreen" class="text-sm">Fullscreen:</label>
      <p-checkbox
        class="ml-auto"
        inputId="fullscreen"
        label="fullscreen"
        formControlName="fullscreen"
        binary
      />
    </div>
    <div class="flex gap-3">
      <label for="resizable" class="text-sm">Resizable:</label>
      <p-checkbox
        class="ml-auto"
        inputId="resizable"
        label="resizable"
        formControlName="resizable"
        binary
      />
    </div>
    <div class="flex gap-3">
      <label for="height" class="text-sm">Height:</label>
      <p-inputnumber
        class="ml-auto"
        formControlName="height"
        size="small"
        inputId="height"
        [min]="0"
        placeholder="height"
        [useGrouping]="false"
        [inputStyle]="{ width: '5rem' }"
        showButtons
      />
    </div>
    <div class="flex gap-3">
      <label for="width" class="text-sm">Width:</label>
      <p-inputnumber
        class="ml-auto"
        formControlName="width"
        size="small"
        inputId="width"
        [min]="0"
        placeholder="width"
        [useGrouping]="false"
        [inputStyle]="{ width: '5rem' }"
        showButtons
      />
    </div>
    <div class="flex gap-3">
      <label for="top" class="text-sm">Top:</label>
      <p-inputnumber
        class="ml-auto"
        formControlName="top"
        size="small"
        inputId="top"
        [min]="0"
        placeholder="top"
        [useGrouping]="false"
        [inputStyle]="{ width: '5rem' }"
        showButtons
      />
    </div>
    <div class="flex gap-3">
      <label for="left" class="text-sm">Left:</label>
      <p-inputnumber
        class="ml-auto"
        formControlName="left"
        size="small"
        inputId="left"
        [min]="0"
        placeholder="left"
        [useGrouping]="false"
        [inputStyle]="{ width: '5rem' }"
        showButtons
      />
    </div>
    } @if (['android'].includes(platform)) {
    <div class="flex gap-3">
      <label for="left" class="text-sm mr-auto">Re-Open:</label>
      <p-button icon="pi pi-times" (onClick)="onClickAndroidBtn('reopen')" />
    </div>
    <div class="flex gap-3">
      <label for="left" class="text-sm mr-auto">Close:</label>
      <p-button icon="pi pi-times" (onClick)="onClickAndroidBtn('close')" />
    </div>
    <div class="flex gap-3">
      <label for="left" class="text-sm mr-auto">Restart:</label>
      <p-button icon="pi pi-refresh" (onClick)="onClickAndroidBtn('restart')" />
    </div>
    <div class="flex gap-3">
      <label for="left" class="text-sm mr-auto">Shutdown:</label>
      <p-button icon="pi pi-power-off" (onClick)="onClickAndroidBtn('shutdown')" />
    </div>
    }
  </form>
  <ng-template #footer>
    <p-button label="Clear Logs" severity="secondary" (onClick)="onClickClearLogs()" />
    <p-button label="Apply" severity="success" (onClick)="onClickApplySettings()" />
  </ng-template>
</p-dialog>
