@switch (currentContent?.type) { @case ('video') {
<video
  #video
  class="max-h-full h-full object-contain"
  [src]="currentContent?.link | safeurl"
  [controls]="showControls"
  [autoplay]="autoPlay"
  [muted]="true"
></video>
} @case ('web') {
<iframe
  #iframe
  class="w-full h-full object-fit"
  [src]="currentContent?.link | safeurl"
  frameborder="0"
  allow="autoplay; encrypted-media; compute-pressure; picture-in-picture"
  scrolling="no"
></iframe>
} @case ('image') {
<img
  #image
  class="max-h-full h-full object-contain"
  [src]="currentContent?.link | safeurl"
  [alt]="currentContent?.name || 'preview image'"
/>
} @case ('youtube') {
<div #ytPlayer class="h-full w-full pointer-events-none"></div>
} @case ('facebook') {
<div #fbPlayer class="relative flex items-center justify-center h-full w-full overflow-hidden">
  <div
    class="fb-video w-full h-full pointer-events-none"
    [attr.data-href]="currentContent?.link"
    data-autoplay="true"
    data-show-text="false"
    data-controls="false"
    data-allowfullscreen="false"
    data-show-captions="false"
  ></div>
</div>
} @default {
<div class="h-full w-full flex justify-center items-center">
  {{ currentContent?.name || 'Preview Content' }}
</div>
} }
