.main-wrapper {
    padding-top: 5rem;
    background-color: var(--p-primary-500);

    .main-content {
        overflow: auto;
        height: calc(100vh - 5rem);
        border-top-left-radius: 26px;
    }
}