<div class="flex flex-col gap-3 pt-2 h-full">
    <app-content-selection (contentType)="onContentTypeChange($event)" [selectionContent]="selectedContent" (selectedContents)="onSelectionChange($event)" />

    <p-fieldset legend="Schedule" [formGroup]="contentItemForm">
        <div class="flex flex-col gap-3">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 relative">
                <div class="absolute top-0 right-0 bg-gray-200 z-50 opacity-10 h-full w-full" *ngIf="!selectedContent()"></div>
                <p-floatlabel variant="on">
                    <p-datepicker inputId="startDate" formControlName="start" appendTo="body" readonlyInput
                        [maxDate]="calendarDateRange()?.end" (onSelect)="onStartDateChange($event)"
                        showIcon fluid />
                    <label for="startDate">Start Date*</label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <p-datepicker inputId="startTime" formControlName="start" [timeOnly]="true" appendTo="body" readonlyInput (onSelect)="onStartDateChange($event, true)"
                        hourFormat="24" stepMinute="5" stepSecond="5" [iconDisplay]="'input'" showOnFocus showSeconds showIcon fluid>
                        <ng-template #inputicon let-clickCallBack="clickCallBack">
                            <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
                        </ng-template>
                    </p-datepicker>
                    <label for="startTime">Start Time*</label>
                </p-floatlabel>

                @if (calendarSelectedDate()?.isSpecificTime) {
                    <p class="italic text-red-500 text-sm col-span-1 md:col-span-2">*This will automatically compute end time</p>
                }

                <p-floatlabel variant="on">
                    <p-datepicker inputId="endDate" formControlName="end" appendTo="body" readonlyInput
                        [minDate]="calendarDateRange()?.start" (onSelect)="onEndDateChange($event)" showIcon fluid />
                    <label for="endDate">End Date*</label>
                </p-floatlabel>
                <p-floatlabel variant="on">
                    <p-datepicker inputId="endTime" formControlName="end" [timeOnly]="true" appendTo="body" [showOnFocus]="false" readonlyInput
                        hourFormat="24" stepMinute="5" stepSecond="5" [iconDisplay]="'input'" [showSeconds]="true" showIcon fluid>
                        <ng-template #inputicon let-clickCallBack="clickCallBack">
                            <i class="pi pi-clock"></i>
                        </ng-template>
                    </p-datepicker>
                    <label for="endTime">End Time*</label>
                </p-floatlabel>
            </div>
        @if (contentItemForm.errors?.['startAfterEnd']) {
            <p class="italic text-sm text-red-400">*Start Date must be before End Date</p>
        }
            <div class="flex gap-2">
                <p-checkbox formControlName="allDay" binary />
                <p>All Day</p>
            </div>
        </div>
    </p-fieldset>
    
    <div class="flex flex-col gap-2">
        <p class="text-sm italic" [ngClass]="{ 'text-red-400' : formcontrol('color').errors }">Select event color*:</p>
        <div class="flex gap-2">
            @for (color of colors; track $index) {
                <div class="border-none w-6 h-6 rounded-full p-0 cursor-pointer outline-none outline-offset-1" 
                    (click)="onUpdateContentEventColor(color)"
                    [ngClass]="{ 'ring ring-2 ring-offset-2' : selectedColor?.value == color.hex }"
                    [style]="{'background-color': color.hex }"></div>
            }
        </div>
    </div>
</div>