@use "tailwindcss";
@use "primeicons/primeicons.css";

html {    
    font-size: 14px;
}

.toolbar-container {
    padding: 0 2rem 0 1rem;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    background-color: var(--p-primary-500);
}

.p-breadcrumb {
    --p-breadcrumb-background: var(--p-primary-0);
}

/* Scrollbar effect */

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}