@use "tailwindcss";
@use "primeicons/primeicons.css";

html {    
    font-size: 14px;
}

.toolbar-container {
    padding: 0 1rem 0 1rem;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    background-color: var(--p-primary-500);
}

.drawer-container {
    top: 5rem;
    left: 0;
    height: calc(100% - 5rem);
    background-color: var(--p-primary-500);
    background-color: #213448;
}

.main-wrapper {
    padding-top: 5rem;
    background-color: var(--p-primary-500);

    .main-content {
        overflow: auto;
        height: calc(100vh - 5rem);
    }
}

.p-breadcrumb {
    --p-breadcrumb-background: var(--p-primary-0);
}

.p-progressbar {
    --p-progressbar-height: 8px !important;
}

.p-card-body, .p-card-content {
    height: 100%;
}

// .p-card-title {
//     height: 100%;
// }

.p-card-footer {
    flex: 1;
}

.subscription-progressbar .p-progressbar-value {
    background: var(--color-blue-900);
}

.storage-progressbar .p-progressbar-value {
    background: var(--color-orange-700);
}


// Leaflet CSS styles
.custom-cluster-icon {
    position: relative;
    display: inline-block;
}



.marker-dot {
    position: relative;
    background: var(--color-red-500);
    // max-width: 150px;
    // width: 40px;
    // border-radius: 50%;
    
    width: 35px;
    height: 35px;
    position: relative;
    border-radius: 50% 50% 50% 0;
    transform: rotate(-45deg);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);

    // &::after {
        // content: '';
        // position: absolute;
        // bottom: -px;
        // left: 50%;
        // transform: translateX(-50%);
        // width: 0;
        // height: 0;
        // border: 10px solid transparent;
        // border-top-color: var(--color-slate-500);
        // border-bottom: 0;
    // }

    i {
        transform: rotate(45deg);
    }

    .online {
        background-color: var(--color-green-500);
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }
    
    .offline {
        background-color: var(--color-red-500);
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }
}

.circle {
    width: 50px;
    height: 50px;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0.1) 70%);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
    font-weight: bold;
    position: relative;
}

.circle.blue {
    background-color: rgba(52, 152, 219, 0.7);
}

.circle:before {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border-radius: 50%;
    background: radial-gradient(circle at center, rgba(52, 152, 219, 0.7), rgba(52, 152, 219, 0));
    z-index: -1;
}


// .cdk-drop-list-dragging {
//   opacity: 0.5;
//   border-left: 2px solid #000;
//   padding-left: 8px;
// }


/* Scrollbar effect */

::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

@media screen and (max-width: 768px) {
    
    ::-webkit-scrollbar {
        width: 0;
    }
    
}