<div #canvasContainer class="flex items-center justify-center overflow-hidden">
    <!-- <canvas #canvas></canvas> -->
    @for (layer of canvasHTMLLayers(); track $index) {
        <div class="absolute pointer-events-none z-10" [id]="layer.id" 
            [style]="{ top: layer.top + 'px', left: layer.left + 'px', width: layer.width + 'px', 
                height: layer.height + 'px', transform: 'rotate(' + layer.rotation + 'deg) translateZ(0)' }">
            <!-- <app-playlist-main-player class="relative w-full h-full group bg-stone-800 text-white rounded-lg"
                [playlist]="layer.content" [autoPlay]="true" [showControls]="false" /> -->
                <app-preview-content-renderer [content]="layer.content" />
        </div>
    }
</div>