<div class="flex flex-col gap-3">
    <div class="flex gap-3">
        <p class="font-semibold">{{ screen?.name }}</p>
        @switch (screen?.type) {
            @case('desktop') { <p-tag class="ml-auto" value="Desktop" severity="info" /> }
            @case('android') { <p-tag class="ml-auto" value="Android" severity="success" /> }
            @default { <p-tag class="ml-auto" value="Web" severity="secondary" /> }
        }
    </div>
    <div class="flex gap-3">
        <p>Group:</p>
        <p class="ml-auto text-sm font-semibold">{{ screen?.group ?? 'N/A' }}</p>
    </div>
    <div class="flex gap-3">
        <p>Sub Group:</p>
        <p class="ml-auto text-sm font-semibold">{{ screen?.subGroup ?? 'N/A' }}</p>
    </div>

    <div class="flex gap-3">
        <p>Location:</p>
        <p class="ml-auto text-sm font-semibold">{{ screen?.geographic?.location ?? 'N/A' }}</p>
    </div>

    <div class="flex gap-3">
        <p>Ladmarks:</p>
        <p class="ml-auto text-sm font-semibold">{{ screen?.geographic?.landmark ?? 'N/A' }}</p>
    </div>

    <div class="flex flex-col gap-3">
        <p>Address:</p>
        <p class="ml-auto text-sm font-semibold"><i class="pi pi-map-marker"></i> {{ screen?.address.fullAddress ?? 'N/A' }}</p>
    </div>

    <p-divider [align]="'left'" type="solid"><p class="font-semibold">Software</p></p-divider>
    
    <div class="flex gap-3">
        <p>Orientation:</p>
        <p class="ml-auto text-sm font-semibold">{{ screen?.displaySettings?.orientation ?? 'N/A' }}</p>
    </div>
    
    <div class="flex gap-3">
        <p>Resolution:</p>
        <p class="ml-auto text-sm font-semibold">{{ screen?.displaySettings?.resolution ?? 'N/A' }}</p>
    </div>
</div>