
.timeline-item {
    position: absolute;
    height: 40px;
    top: 10px;
    background-color: #2196f3;
    color: white;
    padding: 4px;
    border-radius: 4px;
    cursor: grab;
    user-select: none;
}


    .item-label {
    font-size: 10px;
    line-height: 1.2;
    text-align: left;
    white-space: nowrap;
}

.resize-handle {
    position: absolute;
    top: 0;
    width: 6px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: ew-resize;
    z-index: 10;
}

.resize-handle.left {
    left: 0;
}

.resize-handle.right {
    right: 0;
}