<div class="flex flex-col gap-4 h-full">
    <app-breadcrumbs [menu]="pageInfo"></app-breadcrumbs>

    <div class="flex-1">
        <p-card styleClass="h-full">
            <div class="flex flex-col md:flex-row gap-1 md:gap-4 items-end md:items-start md:justify-between mb-8 md:mb-2">
                <app-filters class="w-full md:w-[25rem]"></app-filters>
                <div class="flex gap-4">
                    <p-button (onClick)="onClickAddNew()" label="Add New" icon="pi pi-user-plus"></p-button>
                    <p-button (onClick)="onClickRefresh()" label="Refresh" variant="outlined" icon="pi pi-refresh"></p-button>
                </div>
            </div>
            <div class="flex-1 md:h-full">
                <p-table 
                    class="hidden lg:block" 
                    [value]="userService.loadingSignal() ? utils.tableSkeletonRows : filteredUsers()" 
                    selectionMode="single"
                    [scrollable]="true" 
                    size="small"  
                    stripedRows
                >
                    <ng-template #header>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-item>
                        @if (userService.loadingSignal()) {
                            <tr>
                                @for (item of [1,2,3,4,5]; track $index) { <td><p-skeleton /></td> }
                            </tr>
                        } @else {
                            <tr>
                                <td>{{ item.code }}</td>
                                <td>{{ item.firstName }} {{ item.lastName }}</td>
                                <td>{{ item.email }}</td>
                                <td><p-tag [value]="item.status" [severity]="utils.getStatus(item.status)" /></td>
                                <td class="flex flex-row">
                                    <ng-container *ngTemplateOutlet="actionBtn; context: { $implicit: item }"></ng-container>
                                </td>
                            </tr>
                        }
                    </ng-template>
                    <ng-template #emptymessage>
                        <tr>
                            <td colspan="5" [height]="20">
                                <div class="flex justify-center p-5"><p>No users found</p></div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="block lg:hidden flex flex-col gap-4">
                @if (!userService.loadingSignal()) {
                    @for (item of filteredUsers(); track $index) {
                        <app-user-list-item [user]="item" [actionBtn]="actionBtn" />
                    } @empty {
                        <div class="flex justify-center items-center p-5 h-100">
                            <p>No roles found</p>
                        </div>
                    }
                } @else {
                    @for (item of utils.tableSkeletonRows; track $index) {
                        <p-skeleton height="5rem" />
                    }
                }
            </div>
            <ng-template #footer>
                <p-paginator [rows]="rows" [totalRecords]="totalRecords"></p-paginator>
            </ng-template>
        </p-card>
    </div>
</div>

<ng-template #actionBtn let-item>
    <p-button (onClick)="onClickEdit(item)" pTooltip="Edit" tooltipPosition="bottom" icon="pi pi-pencil" [text]="true" [rounded]="true" severity="success" />
    <p-button (onClick)="onClickDelete(item, $event)" pTooltip="Delete" tooltipPosition="bottom" icon="pi pi-trash" [text]="true" [rounded]="true" severity="danger" />
</ng-template>

<p-dialog header="User Information" [(visible)]="userService.showDialog" styleClass="w-[30rem] md:w-[50rem] h-auto" [modal]="true" [draggable]="false" [focusOnShow]="false">
    <app-user-details [userForm]="userForm" />
    <ng-template #footer>
        <p-button label="Cancel" severity="secondary" (onClick)="onClickCancel()" />
        <p-button label="Save" (onClick)="onClickSave($event)" />
    </ng-template>
</p-dialog>

<p-toast />
<p-confirmdialog />