<p-card class="">
    <ng-template #title>
        <div class="flex gap-2">
            <div class="flex gap-2 items-center">
                <p class="font-semibold">{{ playlist.name }}</p>
                <p-tag [value]="playlist.status" [severity]="utils.getStatus(playlist.status)" [icon]="'pi ' + utils.getIcon(playlist.status)" />
            </div>
        </div>
    </ng-template>
    <ng-template #subtitle><p>{{ playlist.description }}</p></ng-template>
    <div class="flex flex-col my-5 gap-5">
        <div class="flex gap-2 items-center">
            <p class="font-semibold">Last Update:</p>
            <div class="flex gap-2 items-center ml-auto">
                <i class="pi pi-clock" [style]="{ 'font-size': '0.75rem'}"></i>
                <p class="text-sm italic">{{ playlist.updatedOn | date: 'mediumDate' }}</p>
            </div>
        </div>
    </div>
    <ng-template #footer>
        <div class="text-end">
            <ng-container *ngTemplateOutlet="actionBtn; context: { $implicit: playlist }"></ng-container>
        </div>
    </ng-template>
</p-card>