
<!-- <div class="flex flex-row gap-2 justify-between items-center p-[1rem] border border-gray-200 rounded-lg">
    <div class="flex flex-col">
        <h6 class="font-semibold">{{ playlist.name }}</h6>
        <p>{{ playlist.description }}</p>
    </div>
    <div class="flex flex-row">
        <ng-container *ngTemplateOutlet="actionBtn; context: { $implicit: playlist }"></ng-container>
    </div>
</div> -->
<p-card class="">
    <ng-template #title>
        <div class="flex gap-2 items-center">
            <h6 class="font-semibold">{{ playlist.name }}</h6>
            <p-tag [value]="playlist.status" [severity]="utils.getStatus(playlist.status)" />
        </div>
    </ng-template>
    <ng-template #subtitle><p>{{ playlist.description }}</p></ng-template>
    <ng-template #footer>
        <div class="text-end">
            <ng-container *ngTemplateOutlet="actionBtn; context: { $implicit: playlist }"></ng-container>
        </div>
    </ng-template>
</p-card>