<div class="fixed drawer-container hidden md:block w-[7rem] h-full bg-gray-800 z-50">
    <div class="relative flex flex-col gap-3 h-full">
        @for (menu of menuItems; track $index) {
            <li 
                (click)="onToggleMenu(menu, $event)"
                class="relative px-4 py-3 list-none hover:bg-[var(--p-primary-600)] flex flex-col items-center justify-center w-full hover:rounded-md cursor-pointer"
            >
                <i style="font-size: 1.5rem;" class="mb-2 text-white" [class]="menu.icon"></i>
                <p class="text-white !select-none">{{ menu.label }}</p>

                @if (menu.items && menu.expanded) {
                    <div class="relative left-15">
                        <div class="absolute bottom-0 left-full rounded-md shadow-md">
                            <p-menu #subMenu [model]="menu.items" appendTo="body" />
                        </div>
                        <div class="arrow-left"></div>
                    </div>
                }
            </li>
        }
    </div>
</div>  


<p-drawer [(visible)]="utils.drawerVisible" styleClass="!h-auto max-h-100" position="bottom">
    <ng-template #header>Side Menus</ng-template>
    <ul class="flex flex-col gap-2 text-sm">
        @for (menu of menuItems; track $index) {
            <li 
                (click)="onToggleMenu(menu, $event)"
                class="relative px-3 py-2 list-none hover:bg-[var(--p-primary-600)] hover:text-white flex flex-row justify-between items-center w-full hover:rounded-md cursor-pointer"
            >
                <div class="flex flex-row gap-2 items-center">
                    <i style="font-size: 1.25rem;" [class]="menu.icon"></i>
                    <p>{{ menu.label }}</p>
                </div>

                @if (menu.items) { <i class="pi" [ngClass]="{ 'pi-chevron-up': menu.expanded, 'pi-chevron-down': !menu.expanded }"></i> }
            </li>

            @if (menu.items && menu.expanded) {
                <ul class="ml-[3rem]">
                    @for (subMenu of menu.items; track $index) {
                        @if (!subMenu.separator) {
                            <li (click)="onClickGotoPage(subMenu)" class="relative px-4 py-3 list-none hover:bg-[var(--p-primary-600)] hover:text-white flex flex-row w-full hover:rounded-md cursor-pointer">
                                <p>{{ subMenu.label }}</p>
                            </li>
                        }
                    }
                </ul>
            }
        }
        <li class="px-3 py-2 list-none hover:bg-[var(--p-primary-600)] hover:text-white flex flex-row gap-2 w-full hover:rounded-md cursor-pointer">
            <i style="font-size: 1.25rem;" class="pi pi-info-circle"></i>
            <p class="!select-none">About</p>
        </li>
        <li (click)="onClickLogout($event)" class="px-3 py-2 list-none hover:bg-[var(--p-primary-600)] hover:text-white flex flex-row gap-2 w-full hover:rounded-md cursor-pointer">
            <i style="font-size: 1.25rem;" class="pi pi-sign-out"></i>
            <p class="!select-none">Logout</p>
        </li>
    </ul>
</p-drawer>

<p-confirmdialog />