<div class="flex flex-col items-center justify-center">
    <div class="w-8 h-2 bg-[var(--p-surface-200)] dark:bg-[var(--p-surface-600)] rounded-lg cursor-move" cdkDragHandle></div>
    <p-button (onClick)="onClickToolbarItem('move')" text>
        <img [src]="getIconPath('cursor')" alt="move" pTooltip="Move" width="20">
    </p-button>
    <p-button (onClick)="onClickToolbarItem('select')" text>
        <img [src]="getIconPath('selection')" alt="selection" pTooltip="Selection" width="20">
    </p-button>
    <p-button (onClick)="onClickToolbarItem('text')" text>
        <img [src]="getIconPath('text')" alt="text" pTooltip="Text" width="20">
    </p-button>
    <p-button (onClick)="onClickToolbarItem('shapes')" text>
        <img [src]="getIconPath('shapes')" alt="shapes" pTooltip="Shapes" width="20">
    </p-button>
    <p-button (onClick)="onClickToolbarItem('content')" text>
        <img [src]="getIconPath('images')" alt="images" pTooltip="Contents" width="20">
    </p-button>
    <p-button (onClick)="onClickToolbarItem('line')" text>
        <img [src]="getIconPath('line')" alt="line" pTooltip="Line" width="20">
    </p-button>
    <p-button (onClick)="onClickToolbarItem('hand')" text>
        <img [src]="getIconPath('hand')" alt="hand" pTooltip="Hand" width="20">
    </p-button>
    <p-button (onClick)="onClickToolbarItem('zoom')" text>
        <img [src]="getIconPath('zoom')" alt="zoom" pTooltip="Zoom" width="20">
    </p-button>
</div>