<div class="flex flex-col gap-1 h-full relative">
    <app-breadcrumbs [menu]="pageInfo"></app-breadcrumbs>

    <p-card styleClass="h-full" class="flex-1">
        <ng-template #title>
            <div class="flex items-center gap-4">
                <p-button (onClick)="onClickCancel()" icon="pi pi-arrow-left" pTooltip="Back" tooltipPosition="bottom" size="small" text />
                <p class="text-xl font-semibold">Assets Details</p>
            </div>
        </ng-template>

        <div class="flex flex-col gap-4 py-3 h-full" [formGroup]="assetForm">
            <div class="grid grid-cols-1 md:grid-cols-12 gap-4">
                <div class="col-span-1 md:col-span-2">
                    <p-floatlabel variant="on">
                        <p-select inputId="type" [options]="assetTypes()" optionLabel="label" optionValue="value" 
                            (onChange)="onChangeType($event)" [formControl]="assetTypeControl" fluid />
                        <label for="type">Type</label>
                    </p-floatlabel>
                </div>
                <div class="col-span-1 md:col-span-4 lg:col-span-6">
                    @if (showLinkInput()) {
                        <p-floatlabel variant="on">
                            <input id="link" pInputText formControlName="link"
                                [ngClass]="{ 'ng-invalid ng-dirty': formControl('link').invalid && formControl('link').touched }" fluid />
                            <label for="link">Link</label>
                        </p-floatlabel>
                    } @else {
                        @if (!isEditMode()) {
                            <p-button styleClass="w-full" (onClick)="fileInput.click()" label="Upload" icon="pi pi-upload" />
                            <input #fileInput type="file" accept="image/*, video/*, html/*" hidden (change)="onFileSelected($event)" [multiple]="false" />
                        }
                    }
                </div>
                <div class="col-span-1 md:col-span-3 lg:col-span-2">
                    <p-button styleClass="w-full" label="Schedule" (onClick)="isShowSchedule.set(!isShowSchedule())"
                        icon="pi pi-calendar" badge="!" badgeSeverity="danger" outlined />
                </div>
                <div class="col-span-1 md:col-span-3 lg:col-span-2">
                    <p-button styleClass="w-full" label="Audience" icon="pi pi-user" outlined />
                </div>
            </div>
            
            <div class="grid grid-cols-1 md:grid-cols-12 gap-4">
                <div class="col-span-1 md:col-span-2">
                    <p-floatlabel variant="on">
                        <label for="code">Code</label>
                        <input id="code" pInputText formControlName="code"
                            [ngClass]="{ 'ng-invalid ng-dirty': formControl('code').invalid && formControl('code').touched }" fluid />
                    </p-floatlabel>
                </div>
                <div class="col-span-1 md:col-span-4 lg:col-span-6">
                    <p-floatlabel variant="on">
                        <label for="name">Name</label>
                        <input id="name" pInputText formControlName="name"
                            [ngClass]="{ 'ng-invalid ng-dirty': formControl('name').invalid && formControl('name').touched }" fluid />
                    </p-floatlabel>
                </div>
                <div class="col-span-1 md:col-span-3 lg:col-span-2">
                    <p-floatlabel variant="on">
                        <p-select inputId="category" [options]="assetService.filterCategory()"
                            optionLabel="label" optionValue="value" formControlName="category" showClear fluid>
                            <ng-template #footer>
                                <div class="p-3">
                                    <p-button label="Add New" fluid severity="secondary" size="small" icon="pi pi-plus" text />
                                </div>
                            </ng-template>
                        </p-select>
                        <label for="category">Category</label>
                    </p-floatlabel>
                </div>
                <div class="col-span-1 md:col-span-3 lg:col-span-2">
                    <p-floatlabel variant="on">
                        <p-select inputId="subCategory" [options]="assetService.filterSubCategory()" 
                            optionLabel="label" optionValue="value" formControlName="subCategory" showClear fluid>
                            <ng-template #footer>
                                <div class="p-3">
                                    <p-button label="Add New" fluid severity="secondary" size="small" icon="pi pi-plus" text />
                                </div>
                            </ng-template>
                        </p-select>
                        <label for="subCategory">Sub Category</label>
                    </p-floatlabel>
                </div>
            </div>
            
            <div class="flex-1 border-2 border-dashed border-gray-400 rounded-lg relative overflow-y-auto">
                <div class="absolute top-0 right-0 m-2 z-100">
                    <p-button icon="pi pi-info-circle" severity="secondary" (onClick)="isShowInfo.set(true)"
                        pTooltip="File info" tooltipPosition="bottom" rounded />
                </div>
                <ng-container *ngIf="formControl('link').value as currentContent">
                    <app-preview-content class="absolute h-full w-full flex items-center justify-center"
                        [currentContent]="assetForm.value" [showControls]="true" />
                </ng-container>
            </div>

        </div>
        <ng-template #footer>
            <div class="flex justify-end gap-2">
                <p-button (onClick)="onClickCancel()" label="Cancel" text />
                <p-button (onClick)="onClickSave($event)" label="Save" />
            </div>
        </ng-template>
    </p-card>
</div>

<p-dialog header="Set Schedule" [(visible)]="isShowSchedule" [style]="{ width: '50rem' }" modal>
    <app-asset-schedule [assetForm]="assetForm" />
    <ng-template #footer>
        <p-button label="Close" severity="secondary" (onClick)="onClickCloseSchedule()" />
    </ng-template>
</p-dialog>

<p-dialog header="File Info" [(visible)]="isShowInfo" [style]="{ width: '30rem' }" closeOnEscape draggable modal>
    <div class="flex flex-col gap-4">
        <p>File Size: <span class="font-semibold">{{ utils.formatSize(fileDetails?.value.size) }}</span></p>
        <div class="flex gap-2 items-center">
            <p>File Type:</p>
            <p-tag [value]="assetForm.value.type?.toUpperCase()" severity="info" />
        </div>
        <p>File Duration: <span class="font-semibold">{{ utils.timeConversion(assetForm.value.duration, true) }}</span></p>
        <p>File Resolution: <span class="font-semibold">{{ fileDetails?.value.resolution?.width }} x {{ fileDetails?.value.resolution?.height }}</span></p>
        <p>File Orientation: <span class="font-semibold">{{ fileDetails?.value.orientation?.toUpperCase() }}</span></p>
    </div>
    <ng-template #footer>
        <p-button label="Close" severity="secondary" (onClick)="isShowInfo.set(false)" />
    </ng-template>
</p-dialog>

<p-toast />
<p-confirmdialog />