<div class="flex h-80 md:h-full w-full justify-center items-center">
    <div class="relative transition-all duration-{{content().currentTransition()?.speed}} ease-in-out" [ngClass]="getTransitionClasses()">
        <ng-container *ngIf="content().currentContent() as content">
            @switch (content.type) {
                @case ('playlist') {
                    <app-preview-playlist [playlist]="content" />
                }
                @case ('design') {
                    <app-preview-design-layout />
                }
                @default {
                    <app-preview-assets class="absolute h-full w-full flex items-center justify-center"
                        [currentContent]="content" (timeUpdate)="onProgressUpdate(content().index, $event)" [autoPlay]="true" />
                }
            }
        </ng-container>
    </div>
</div>