<div #mainPlayer class="flex items-center justify-center min-h-full">
    <div class="relative flex items-center justify-center aspect-video
        transition-all duration-{{content().currentTransition()?.speed}} ease-in-out" [ngClass]="getTransitionClasses()">
        <!-- <ng-container *ngIf="content().currentContent() as content">
            @switch (content.type) {
                @case ('design') {
                    <app-preview-design-layout class="absolute h-full w-full inset-0" [designLayout]="content" />
                }
                @default {
                    <app-preview-content-renderer class="absolute h-full w-full" [content]="content" />
                }
            }
        </ng-container> -->
        <!-- <div class="flex flex-col items-center justify-center">
        </div> -->
        @for (item of playlistContents; track trackById($index, item)) {
            @switch (item.type) {
                @case ('design') {
                    <app-preview-design-layout class="absolute h-full w-full flex items-center justify-center" [currentPlaying]="content().currentContent()"
                        [ngClass]="{ 'hidden': content().currentContent()?.contentId != item.contentId }" [designLayout]="item" />
                }
                @default {
                    <app-preview-assets class="absolute h-full w-full flex items-center justify-center"
                        [ngClass]="{ 'hidden': content().currentContent()?.contentId != item.contentId }" [currentPlaying]="content().currentContent()"
                        [currentContent]="item" (timeUpdate)="onProgressUpdate(item.id, $event)" [autoPlay]="false" />
                }
            }
        }
    </div>
</div>

@if (showControls) {
    <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center opacity-0 group-hover:opacity-100 z-60">
        <div class="h-20 w-20 border-4 border-[var(--p-surface-200)] rounded-full opacity-70 flex items-center justify-center 
            hover:opacity-100 cursor-pointer" (click)="onClickPlayPreview()" [pTooltip]="content().isPlaying() ? 'Pause' : 'Play'" tooltipPosition="bottom">
            <i class="text-[var(--p-surface-200)] pi" 
                [ngClass]="{ 'pi-pause': content().isPlaying(), 'pi-play': !content().isPlaying() }" style="font-size: 2rem;"></i>
        </div>
    </div>
}

<ng-container *ngIf="content().currentContent()">
    <div class="absolute bottom-0 z-50 flex opacity-0 translate-y-2 transition-all duration-300 
        group-hover:opacity-100 group-hover:translate-y-0 w-full bg-[var(--p-surface-300)]">

        <div class="w-full flex flex-col justify-center gap-2 p-1">
            <p-progressbar [value]="content().progress()" [showValue]="false"></p-progressbar>
        </div>
    </div>
</ng-container>