<form [formGroup]="filters" class="flex flex-row gap-4 justify-between">
    <p-input-group>
        <input pInputText placeholder="Search" formControlName="keywords" (keydown.enter)="onClickApply()" fluid />
        <p-inputgroup-addon>
            <p-button (onClick)="onClickClear()" [icon]="'pi ' + (keywords?.dirty ? 'pi-times' : 'pi-search')"></p-button>
        </p-inputgroup-addon>
    </p-input-group>
    @if (showOthers) {
        <p-button icon="pi pi-filter" pTooltip="More Filter" tooltipPosition="bottom" [text]="true" (onClick)="filter.toggle($event)"></p-button>
        <p-popover #filter appendTo="body">
            <div class="flex flex-col gap-5 w[25rem]">
                <p-select [options]="status" formControlName="status" optionLabel="label" optionValue="value" placeholder="Status" showClear />
                <p-select [options]="sortBy" formControlName="sortBy" optionLabel="label" optionValue="value" placeholder="Sort By" class="w-50" showClear />
                <div class="flex flex-row gap-4">
                    @for (item of [ 'asc', 'desc' ]; track $index) {
                        <div>
                            <p-radiobutton [inputId]="item" [value]="item" formControlName="sort"></p-radiobutton>
                            <label [for]="item" class="ml-2">{{ item.toUpperCase() }}</label>
                        </div>
                    }
                </div>
                <div class="flex flex-row justify-end items-center">
                    <p-button severity="secondary" (onClick)="onClickClear()" label="Clear" size="small" [text]="true" icon="pi pi-times"></p-button>
                    <p-button (onClick)="onClickApply()" label="Apply" size="small" [text]="true" icon="pi pi-check"></p-button>
                </div>
            </div>
        </p-popover>
    }
</form>