<div class="p-[1rem] border border-gray-200 rounded-lg">
    <div class="flex flex-row gap-2 justify-between items-center mb-3">
        <div class="flex flex-col gap-1">
            <h6 class="font-semibold">{{ screen.code }}: {{ screen.name }}</h6>
            <p>{{ screen.type.toUpperCase() }}</p>
            <p class="text-sm">{{ screen.group }} | {{ screen.subGroup }}</p>
        </div>
        <div class="flex flex-row">
            <ng-container *ngTemplateOutlet="actionBtn; context: { $implicit: screen }"></ng-container>
        </div>
    </div>
    <p-accordion [value]="0">
        <p-accordion-panel value="0">
            <p-accordion-header>Display Settings</p-accordion-header>
            <p-accordion-content>
                <div class="flex flex-col gap-1">
                    <p>Orientation: {{ screen.displaySettings.orientation }}</p>
                    <p>Resolution: {{ screen.displaySettings.resolution }}</p>
                </div>
            </p-accordion-content>
        </p-accordion-panel>
        <p-accordion-panel value="1">
            <p-accordion-header>Geographical Location</p-accordion-header>
            <p-accordion-content>
                <div class="flex flex-col gap-1">
                    <p>Location: {{ screen.geographicalLocation.location }}</p>
                    <p>Landmarks: {{ screen.geographicalLocation.landmark }}</p>
                </div>
            </p-accordion-content>
        </p-accordion-panel>
        <p-accordion-panel value="2">
            <p-accordion-header>Operational Schedule</p-accordion-header>
            <p-accordion-content>
                <div class="flex flex-col gap-1">
                    <p>Operation: {{ screen.schedule.operation }}</p>
                    <p>Hours: {{ (screen.schedule.hours | date: 'shortTime') ?? 'N/A' }}</p>
                </div>
            </p-accordion-content>
        </p-accordion-panel>
    </p-accordion>
</div>