/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@use "primeicons/primeicons.css";

.video-js {
    width: 100vw !important;
    height: 100vh !important;
}

video {
    background-image: none;
}

.fb-video span {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 100% !important;
    height: 100% !important;
}

.animate-marquee {
    display: flex;
    will-change: transform;
    width: max-content;
    animation-name: marquee;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    white-space: nowrap;
}

@keyframes marquee {
    0%   { transform: translateX(0); }   /* start fully off-screen right */
    100% { transform: translateX(-50%); }  /* move fully off-screen left */
}