<div class="flex items-center gap-4 absolute top-0 right-0 z-30 bg-[var(--p-surface-50)] shadow-lg rounded-lg p-2" [formGroup]="textPropsForm" cdkDrag>
    <div class="w-2 h-8 bg-[var(--p-surface-200)] rounded-lg cursor-move" cdkDragHandle></div>
    <div class="w-20">
        <p-inputnumber formControlName="size" [min]="8" size="small" showButtons fluid />
    </div>
    <p-button [ngClass]="{ 'bg-[var(--p-surface-300)] rounded-lg' : isBold() }" (onClick)="onClickBold()" size="small" text>
        <img src="assets/icons/bold.png" alt="bold" pTooltip="Bold" width="12">
    </p-button>
    <p-button [ngClass]="{ 'bg-[var(--p-surface-300)] rounded-lg' : isItalic() }" (onClick)="onClickItalic()" size="small" text>
        <img src="assets/icons/italic.png" alt="italic" pTooltip="Italic" width="12">
    </p-button>
    <p-button [ngClass]="{ 'bg-[var(--p-surface-300)] rounded-lg' : isUnderline() }" (onClick)="onClickUnderline()" size="small" text>
        <img src="assets/icons/underline.png" alt="underline" pTooltip="Underline" width="12">
    </p-button>
    <p-selectbutton [options]="alignmentOptions" formControlName="alignment" optionValue="value" [allowEmpty]="false">
        <ng-template #item let-item>
            <i [class]="item.icon"></i>
        </ng-template>
    </p-selectbutton>
    <p-colorpicker formControlName="color" appendTo="body" />
</div>