<div class="flex flex-col gap-1 h-full">
    <app-breadcrumbs [menu]="pageInfo"></app-breadcrumbs>
    <p-card styleClass="h-full" class="flex-1">
        <ng-template #title>
            <div class="flex gap-4 items-center mb-2">
                <app-playlist-filter class="w-full md:w-[25rem]" (filterChange)="onFilterChange($event)" />
                <div class="gap-2 ml-auto hidden md:flex">
                    <p-button label="Generate" icon="pi pi-images" (onClick)="onClickGetContents()" outlined />
                    <p-button (onClick)="onClickAddNew()" label="New" icon="pi pi-plus"></p-button>
                </div>
                <div class="flex gap-2 ml-auto md:hidden">
                    <p-button icon="pi pi-images" (onClick)="onClickGetContents()" outlined />
                    <p-button (onClick)="onClickAddNew()" label="" icon="pi pi-plus" />
                </div>
            </div>
        </ng-template>
        <div class="flex-1">
            <p-table
                class="hidden lg:block" 
                [value]="playlistService.loadingSignal() ? utils.tableSkeletonRows : filterPlaylist()" 
                selectionMode="single"
                [scrollable]="true" 
                [rows]="rows()"
                [first]="first()"
                scrollHeight="flex-1"
                size="small"
                (onPage)="playlistService.onPageChange($event)"
                stripedRows
            >
                <ng-template #header>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Last Update</th>
                        <th>Status</th>
                        <th>
                            <div class="text-center">Actions</div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template #body let-item>
                    <tr class="text-sm">
                        <td>
                            <div class="flex items-center gap-2">
                                <i class="pi" [pTooltip]="item.isActive ? 'Active' : 'Inactive'" tooltipPosition="bottom"
                                    [ngClass]="{ 'pi-check-circle text-green-500': item.isActive, 'pi-ban text-red-500': !item.isActive }"></i>
                                <p>{{item.name}}</p>
                            </div>
                        </td>
                        <td>{{ item.description }}</td>
                        <td><p-tag [value]="item.isAuto ? 'Auto' : 'Manual'" [severity]="item.isAuto ? 'warn' : 'info'" /></td>
                        <td><p class="text-sm">{{ utils.onGetLastUpdatedLabel(item.updatedOn) }}</p></td>
                        <td><p-tag [value]="item.status.toUpperCase()" [icon]="'pi ' + utils.getIcon(item.status)"
                            [severity]="utils.getStatus(item.status)" /></td>
                        <td>
                            <div class="flex flex-row justify-center gap-2">
                                <ng-container *ngTemplateOutlet="actionBtn; context: { $implicit: item }"></ng-container>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template #emptymessage>
                    <tr>
                        <td colspan="5" [height]="20">
                            <div class="flex justify-center p-5"><p class="italic">No Data found</p></div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

            <div class="block lg:hidden flex flex-col gap-4">
                @if (!playlistService.loadingSignal()) {
                    @for (item of filterPlaylist(); track $index) {
                        <app-playlist-list-item [playlist]="item" [actionBtn]="actionBtn" />
                    } @empty {
                        <div class="flex justify-center items-center p-5 h-100">
                            <p>No playlists found</p>
                        </div>
                    }
                } @else {
                    @for (item of utils.tableSkeletonRows; track $index) {
                        <p-skeleton height="5rem" />
                    }
                }
            </div>
        </div>
        <ng-template #footer>
            <p-paginator [first]="first()" [rows]="rows()" [totalRecords]="totalRecords()"></p-paginator>
        </ng-template>
    </p-card>
</div>

<ng-template #actionBtn let-item>
    <p-button (onClick)="onClickEdit(item)" icon="pi pi-pencil" pTooltip="Edit" 
        tooltipPosition="bottom" severity="success" size="small" [disabled]="['approved', 'disapproved'].includes(item.status)" />
    <p-button (onClick)="onClickShowApproved($event, item, approved)" icon="pi pi-check-circle" pTooltip="Approval" tooltipPosition="bottom"  severity="info" size="small" />
    <p-button icon="pi pi-desktop" pTooltip="Set to screen" tooltipPosition="bottom" severity="warn" size="small" [disabled]="item.status == 'pending'" />
    <p-button icon="pi pi-history" pTooltip="Playlist Usage" tooltipPosition="bottom" severity="danger" size="small" [disabled]="item.status == 'pending'" />
    <p-button (onClick)="onClickOptions($event, item, actionMenu)" pTooltip="More" tooltipPosition="bottom" icon="pi pi-cog" severity="contrast" size="small" />
</ng-template>

<p-dialog header="Preview Playlist" [(visible)]="showPreview" [style]="{ width: '50rem' }" (onHide)="playlistService.onStopPreview()" modal>
    <div class="flex h-full md:h-100">
        <app-playlist-preview class="relative flex-1 border-2 border-[var(--p-surface-300)] group bg-stone-800 text-white rounded-lg"
            [currentContent]="playlistService.currentContent()" />
    </div>
</p-dialog>

<p-dialog header="Generate Playlist" [(visible)]="showContents" [style]="{ width: '50rem', height: '560px' }" (onHide)="categoryForm.reset()"
    [draggable]="false" closable modal>
    <app-playlist-select-contents [playListForm]="playlistForm" (assetSelected)="selectedAssets.set($event)" [steps]="3" />
    <ng-template #footer>
        <div class="flex items-center w-full gap-2">
            @switch (activeStep()) {
                @case(2) {
                    <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activeStep.set(1)" size="small" />
                    <p-button class="ml-auto" label="Next" icon="pi pi-arrow-right" [disabled]="selectedAssets().length == 0" (onClick)="activeStep.set(3)" size="small" />
                }
                @case(3) {
                    <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activeStep.set(2)" size="small" />
                    <p-button class="ml-auto" label="Complete" severity="success"
                        icon="pi pi-check" iconPos="right" (onClick)="onClickComplete($event)" [disabled]="playlistForm.invalid" size="small" />
                }
                @default {
                    <p-button class="ml-auto" label="Next" icon="pi pi-arrow-right" (onClick)="activeStep.set(2)" size="small" />
                }
            }
        </div>
    </ng-template>
</p-dialog>

<p-menu #actionMenu [model]="actionItems" [popup]="true" appendTo="body" />
<p-popover #approved (onHide)="playlistForm.reset()" appendTo="body" (onHide)="playlistForm.reset()">
    <ng-template #content>
        <div class="flex flex-col gap-3">
            @if (!['approved', 'disapproved'].includes(status?.value)) {
                <p class="text-sm font-semibold">Approve this playlist?</p>
                <app-user-approval [approvedForm]="playlistForm" />
                <div class="flex gap-2 justify-end">
                    <p-button label="Disapprove" severity="danger" (onClick)="onClickConfirmApproved($event, approved, 'disapproved')" size="small" outlined />
                    <p-button label="Approve" (onClick)="onClickConfirmApproved($event, approved, 'approved')" size="small" />
                </div>
            } @else {
                <p class="text-sm font-semibold">Approval Info:</p>
                <div class="flex flex-col gap-2 w-50">
                    <p>User: {{ approvedInfo?.value.approvedBy }}</p>
                    <p>Remarks: {{ approvedInfo?.value.remarks }}</p>
                </div>
                <div class="flex gap-2 items-center w-full">
                    <p-button [label]="playListValue.isActive ? 'Deactivate' : 'Activate'" 
                        [severity]="playListValue.isActive ? 'danger' : 'success'"  text />
                    <p-button class="ml-auto" label="Close" (onClick)="onClickCloseApproved($event, approved)" size="small" text />
                </div>
            }
        </div>
    </ng-template>
</p-popover>

<p-toast />
<p-confirmdialog />