@switch (asset.type) {
    @case ('image') {
        <img #image class="absolute left-0 top-0 h-full w-full object-fit" loading="lazy" [alt]="asset.name">
    }
    @case('video') {
        <video #video class="absolute left-0 top-0 h-full w-full object-contain" [loop]="true" preload="metadata"
            [controls]="false" [playsInline]="true" [autoplay]="autoPlay" [muted]="true"></video>
    }
    @case ('web') {
        <iframe #iframe class="w-full h-full object-fit" [src]="asset.link | safeurl" frameborder="0"
            allow="autoplay; encrypted-media; compute-pressure; picture-in-picture" scrolling="no" ></iframe>
    }
    @case ('youtube') {
        <div #ytPlayer class="absolute left-0 top-0 h-full w-full"></div>
    }
    @case ('facebook') {
        <div #fbPlayer class="relative flex flex-1 items-center justify-center h-full w-full overflow-hidden">
            <div
                class="fb-video flex items-center justify-center w-full h-full pointer-events-none"
                [attr.data-href]="asset.link"
                data-autoplay="true"
                data-show-text="false"
                data-allowfullscreen="false"
                data-muted="true"
                data-lazy="true"
            ></div>
        </div>
    }
    @case ('audio') {
        <div class="relative h-full w-full flex items-center justify-center gap-4">
            <li class="!text-7xl !text-white pi pi-volume-up"></li>
            <audio class="absolute left-0 top-0 h-full w-full" controlsList="nodownload noplaybackrate"
                [controls]="showControls" [autoplay]="true" [crossOrigin]="true" preload="auto"></audio>
        </div>
    }
}