<div class="flex flex-col gap-3 pt-2 h-full">
    @if (!assetOnly) {
        <p-floatlabel class="w-full" variant="on">
            <p-select inputId="type" [options]="filtereContentTypes()" optionLabel="label" optionValue="value" [formControl]="contentTypeControl" appendTo="body" fluid />
            <label for="type">Type</label>
        </p-floatlabel>
    }
    @switch (contentTypeControl.value) {
        @case ('asset') {
            <app-asset-filter (filterChange)="onFilterChange($event)" />
        }
        @case ('playlist') {
            <app-playlist-filter (filterChange)="onFilterChange($event)" />
        }
        @case ('schedule') {
            <app-schedule-filter (filterChange)="onFilterChange($event)" />
        }
    }
    <div class="border border-[var(--p-surface-300)] rounded-lg h-[220px]">
        <p-table
            #contentTable
            [value]="filteredContentLists()"
            [(selection)]="selectionContent"
            (selectionChange)="onSelectionChange($event)"
            dataKey="id"
            [scrollable]="true" 
            scrollHeight="220px" 
            [selectionMode]="selectionMode"
            size="small"
            stripedRows
            showGridlines
        >
            <ng-template #header>
                <tr>
                    <th style="width: 3rem"></th>
                    <th>Name</th>
                    <th>
                        @if (contentTypeControl.value !== 'schedule') { Duration }
                        @else { Description }
                    </th>
                </tr>
            </ng-template>
            <ng-template #body let-item>
                <tr [pSelectableRow]="item">
                    <td>
                        <div class="text-center">
                            @if (selectionMode === 'multiple') {
                                <p-tableCheckbox [value]="item" />
                            } @else {
                                <p-tableRadioButton [value]="item" />
                            }
                        </div>
                    </td>
                    <td><p class="line-clamp-1">{{ item.name }}</p></td>
                    <td>
                        @if (contentTypeControl.value !== 'schedule') {
                            {{ utils.timeConversion(item.duration) }}
                        } @else {
                            {{ item.description }}
                        }
                    </td>
                </tr>
            </ng-template>
            <ng-template #emptymessage>
                <tr>
                    <td colspan="3" [height]="20">
                        <div class="flex justify-center p-5"><p class="italic">No Data found</p></div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>