<div #mainPlayer class="relative flex flex-1 items-center justify-center w-full h-full aspect-video overflow-hidden">    
    @for (item of playlist.contents; track trackById($index, item)) {
        <div
            #viewport
            class="absolute inset-0 flex items-center justify-center transition-all ease-in-out"
            style="--animation-duration: {{ playlist.transition.speed / 10 }}s"
            [ngClass]="[ currentItem()?.contentId == item.contentId ? onActiveTransitionClass() : 'opacity-0 z-0 pointer-events-none' ]"
        >

            @switch(item.type) {
                @case ('image') {
                    <img #image [id]="item.contentId" class="h-full w-full object-fit inset-0" loading="lazy"
                        (error)="onMediaError(item)" [alt]="item.name">
                }
                @case('video') {
                    <video #video [id]="item.contentId" class="h-full w-full object-fill" preload="metadata"
                        [autoplay]="true" [playsInline]="true" (ended)="onNextItem()" (error)="onMediaError(item)"></video>
                }
                @case ('audio') {
                    <div class="relative h-full w-full flex items-center justify-center gap-4">
                        <li class="!text-9xl !text-white pi pi-volume-up"></li>
                        <audio [id]="item.contentId" class="absolute left-0 top-0 h-full w-full" controlsList="nodownload noplaybackrate"
                            [controls]="false" [autoplay]="true" [crossOrigin]="true" preload="auto" (error)="onMediaError(item)" (ended)="onNextItem()"></audio>
                    </div>
                }
                @case ('web') {
                    <iframe #iframe [id]="item.contentId" [src]="onIFrameLoad(item) | safeurl" class="w-full h-full object-fit" frameborder="0"
                        allow="autoplay; encrypted-media; compute-pressure; picture-in-picture" scrolling="no" ></iframe>
                }
                @case ('youtube') {
                    <div [id]="item.contentId" #ytPlayer class="h-full w-full"></div>
                }
                @case ('facebook') {
                    <ng-container *ngIf="currentItem() as content">
                        <div [id]="content.contentId" #fbPlayer class="relative flex items-center justify-center h-full w-full overflow-hidden">
                            @if (isFacebookLoading()) { 
                                <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center">
                                    <p-progress-spinner strokeWidth="2" fill="transparent" />
                                </div>
                            }
                            <div
                                class="fb-video w-full h-full pointer-events-none"
                                [attr.data-href]="content.link"
                                data-width="auto"
                                data-autoplay="true"
                                data-show-text="false"
                                data-controls="false"
                                data-allowfullscreen="false"
                                data-show-captions="false"
                                data-muted="false"
                                data-lazy="true"
                            ></div>
                        </div>
                    </ng-container>
                }
                @case ('design') {
                    <app-design-layout-preview class="flex-1 h-full w-full flex items-center justify-center" 
                        [viewport]="viewport" [designLayout]="item" [isPlaying]="currentItem()?.contentId == item.contentId" />
                }
            }
        </div>
    }
</div>