<p-dialog
  header="Add Fillers"
  [(visible)]="showFillerContents"
  [style]="{ width: '42rem' }"
  [draggable]="false"
  closable
  modal
>
  <app-content-selection
    [assetOnly]="true"
    selectionMode="multiple"
    [selectionContent]="arrSelectedContents"
    (selectedContents)="onSelectionChange($event)"
    [readonly]="readOnly()"
  />
  <ng-template #footer>
    <p-button label="Close" severity="secondary" (onClick)="showFillerContents.set(false)" />
    @if (!readOnly()) {
        <p-button label="Save" severity="success" (onClick)="onClickSaveFillers($event)" />
    }
  </ng-template>
</p-dialog>
