<div class="flex flex-col h-full">
    <app-breadcrumbs [menu]="pageInfo"></app-breadcrumbs>
    <p-card styleClass="h-full" class="flex-1">
        <ng-template #title>
            <div class="flex gap-4 items-center mb-2">
                <app-filters class="w-full md:w-[25rem]" />
                <div class="flex gap-4 ml-auto">
                    <p-button class="hidden md:block" (onClick)="onClickAddNew()" label="Add Schedule" icon="pi pi-plus"></p-button>
                    <p-button class="md:hidden" (onClick)="onClickAddNew()" label="" icon="pi pi-plus" />
                </div>
            </div>
        </ng-template>
        
        <div class="flex-1">
            <p-table
                class="hidden lg:block" 
                [value]="scheduleServices.loadingSignal() ? utils.tableSkeletonRows : schedules()" 
                selectionMode="single"
                [scrollable]="true" 
                [rows]="rows()"
                [first]="first()"
                scrollHeight="flex-1"
                size="small"
                (onPage)="scheduleServices.onPageChange($event)"
                stripedRows
                paginator
            >
                <ng-template #header>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Last Update</th>
                        <th>Status</th>
                        <th>
                            <div class="text-center">Actions</div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template #body let-item>
                    <tr class="text-sm">
                        <td>{{ item.name }}</td>
                        <td>{{ item.description }}</td>
                        <td><p class="text-sm">{{ item.updatedOn | date: 'medium' }}</p></td>
                        <td><p-tag [value]="item.status" [severity]="utils.getStatus(item.status)" [icon]="'pi ' + utils.getIcon(item.status)"></p-tag></td>
                        <td>
                            <div class="flex flex-row justify-center gap-2">
                                <ng-container *ngTemplateOutlet="actionBtn; context: { $implicit: item }"></ng-container>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template #emptymessage>
                    <tr>
                        <td colspan="9" [height]="20">
                            <div class="flex justify-center p-5"><p class="italic">No Data found</p></div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
                
            <div class="block lg:hidden flex flex-col gap-4">
                @if (!scheduleServices.loadingSignal()) {
                    @for (item of schedules(); track $index) {
                        <app-schedule-list-item [schedule]="item" [actionBtn]="actionBtn" />
                    } @empty {
                        <div class="flex justify-center items-center p-5 h-100">
                            <p>No playlists found</p>
                        </div>
                    }
                } @else {
                    @for (item of utils.tableSkeletonRows; track $index) {
                        <p-skeleton height="5rem" />
                    }
                }
            </div>
        </div>
    </p-card>
</div>

<ng-template #actionBtn let-item>
    <p-button (onClick)="onClickEdit(item)" icon="pi pi-pencil" pTooltip="Edit" tooltipPosition="bottom" severity="success" size="small" />
    <p-button icon="pi pi-check-circle" pTooltip="Approval" tooltipPosition="bottom"  severity="info" size="small" />
    <p-button icon="pi pi-desktop" pTooltip="Set to screen" tooltipPosition="bottom" severity="warn" size="small" [disabled]="item.status == 'Pending'" />
    <p-button icon="pi pi-history" pTooltip="Playlist Usage" tooltipPosition="bottom" severity="danger" size="small" [disabled]="item.status == 'Pending'" />
    <p-button (onClick)="onClickOpenOptions($event, item, actionMenu)" pTooltip="More" tooltipPosition="bottom" icon="pi pi-cog" severity="contrast" size="small" />
</ng-template>

<p-menu #actionMenu [model]="actionItems" [popup]="true" appendTo="body" />

<p-toast />
<p-confirmdialog />