<p-dialog
  header="Create New"
  [(visible)]="showCanvasSize"
  (onHide)="designForm.reset()"
  [style]="{ width: '60rem' }"
  [resizable]="false"
  draggable
  modal
>
  <div class="grid grid-cols-1 md:grid-cols-12 gap-3 mt-2">
    <app-screen-selection
      #screen
      class="col-span-1 md:col-span-8"
      (screenChange)="onSelectionChange($event)"
    />
    <div class="col-span-1 md:col-span-4">
      <form class="flex flex-col gap-4" [formGroup]="designForm">
        <p-floatlabel variant="on">
          <input id="name" type="text" pInputText formControlName="name" fluid />
          <label for="name">Name</label>
        </p-floatlabel>
        <p-floatlabel variant="on">
          <textarea
            name="description"
            id="description"
            rows="3"
            formControlName="description"
            pTextarea
            fluid
          ></textarea>
          <label for="description">Description</label>
        </p-floatlabel>
        <div class="flex items-center gap-3">
          <p-floatlabel variant="on">
            <p-select
              inputId="color"
              [options]="colors"
              optionLabel="text"
              optionValue="hex"
              formControlName="color"
              appendTo="body"
            >
              <ng-template #selectedItem let-item>
                <span>{{ item.text.toUpperCase() }}</span>
              </ng-template>
              <ng-template #item let-item>
                <div class="flex items-center gap-2">
                  <div class="w-4 h-4 rounded-full" [style.background-color]="item.hex"></div>
                  <span>{{ item.text.toUpperCase() }}</span>
                </div>
              </ng-template>
            </p-select>
            <label for="color">Color</label>
          </p-floatlabel>
          <p>or</p>
          <p-colorpicker
            formControlName="color"
            appendTo="body"
            class="border-2 border-[var(--p-surface-300)] rounded-lg"
          />
        </div>
      </form>
    </div>
  </div>
  <ng-template #footer>
    <p-button label="Cancel" severity="secondary" (onClick)="showCanvasSize.set(false)" />
    <p-button
      label="Create"
      severity="success"
      (onClick)="onClickCreateCanvas()"
      [disabled]="designForm.invalid"
    />
  </ng-template>
</p-dialog>
