<div #mainPlayer class="flex items-center justify-center h-full">
    <div #viewport class="relative flex items-center justify-center aspect-video
        transition duration-{{content().currentTransition()?.speed}} ease-in-out" [ngClass]="getTransitionClasses()">
        @for (item of playlistContents; track trackById($index, item)) {
            @switch (item.type) {
                @case ('design') {
                    <app-preview-design-layout class="absolute flex-1 h-full w-full flex items-center justify-center inset-0" 
                        [ngClass]="{ 
                            'opacity-0': content().currentContent()?.contentId != item.contentId,
                            'opacity-100': content().currentContent()?.contentId == item.contentId 
                        }"
                        [viewport]="viewport" [currentPlaying]="content().currentContent()" [designLayout]="item" [isViewOnly]="true" />
                }
                @default {
                    <app-preview-assets class="absolute h-full w-full flex items-center justify-center inset-0" [currentPlaying]="content().currentContent()" 
                        [ngClass]="{ 
                            'opacity-0': content().currentContent()?.contentId != item.contentId,
                            'opacity-100': content().currentContent()?.contentId == item.contentId 
                        }"
                        [currentContent]="item" (timeUpdate)="onProgressUpdate(item.id, $event)" [autoPlay]="false" />
                }
            }
        }
    </div>
</div>

@if (showControls) {
    <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center opacity-0 group-hover:opacity-100 z-60">
        <div class="h-20 w-20 border-4 border-[var(--p-surface-200)] rounded-full opacity-70 flex items-center justify-center 
            hover:opacity-100 cursor-pointer" (click)="onClickPlayPreview()" [pTooltip]="content().isPlaying() ? 'Pause' : 'Play'" tooltipPosition="bottom">
            <i class="text-[var(--p-surface-200)] pi" 
                [ngClass]="{ 'pi-pause': content().isPlaying(), 'pi-play': !content().isPlaying() }" style="font-size: 2rem;"></i>
        </div>
    </div>
}

<ng-container *ngIf="content().currentContent()">
    <div class="absolute bottom-0 z-50 flex opacity-0 translate-y-2 transition-all duration-300 
        group-hover:opacity-100 group-hover:translate-y-0 w-full bg-[var(--p-surface-300)]">

        <div class="w-full flex flex-col justify-center gap-2 p-1">
            <p-progressbar [value]="content().progress()" [showValue]="false"></p-progressbar>
        </div>
    </div>
</ng-container>