<p-dialog
  header="Add Content"
  [(visible)]="showAddContents"
  [style]="{ width: '40rem' }"
  (onHide)="contentItemForm.reset()"
  closable
  modal
>
  <div class="flex flex-col gap-5 py-2 select-none">
    <div class="flex gap-3" [formGroup]="contentItemForm">
      <p-floatlabel class="w-full" variant="on">
        <p-datepicker
          [ngClass]="{ 'ng-invalid ng-dirty': contentItemForm.errors?.['startAfterEnd'] }"
          inputId="startDate"
          formControlName="start"
          appendTo="body"
          readonlyInput
          showIcon
          fluid
        />
        <label for="startDate">Start Date*</label>
      </p-floatlabel>
      <p-floatlabel class="w-full" variant="on">
        <p-datepicker
          [ngClass]="{ 'ng-invalid ng-dirty': contentItemForm.errors?.['startAfterEnd'] }"
          inputId="endDate"
          formControlName="end"
          appendTo="body"
          readonlyInput
          showIcon
          fluid
        />
        <label for="endDate">End Date*</label>
      </p-floatlabel>
    </div>
    @if (contentItemForm.errors?.['startAfterEnd']) {
    <p class="italic text-sm text-red-400">*Start Date must be before End Date</p>
    }
    <app-weekday-hour-selection [formGroup]="contentItemForm" [showAllDay]="true" />
    <p-inputgroup>
      <p-inputgroup-addon>
      <i class="pi pi-file"></i></p-inputgroup-addon>
      <input
        id="content"
        type="text"
        [value]="content?.name"
        (focus)="showContentSelection.set(true)"
        [ngClass]="{ 'ng-dirty ng-invalid': contentItemForm.invalid && contentItemForm.touched && !content?.name }"
        placeholder="Select Content"
        readonly
        pInputText
        fluid
      />
      <p-inputgroup-addon>
        <p-button
          (onClick)="showContentSelection.set(true)"
          icon="pi pi-search"
          pTooltip="Select Contents"
          tooltipPosition="bottom"
        />
      </p-inputgroup-addon>
    </p-inputgroup>
    <div class="flex flex-col gap-2" [formGroup]="contentItemForm">
      <p class="text-sm italic" [ngClass]="{ 'text-red-400': formcontrol('color').errors }">
        Select event color*:
      </p>
      <div class="grid grid-cols-7 gap-2">
        @for (color of filteredColor(); track $index) {
        <div
          class="border-none w-full h-6 rounded-sm p-0 cursor-pointer outline-none outline-offset-1"
          (click)="onUpdateContentEventColor(color)"
          [ngClass]="{ 'ring ring-2 ring-offset-2': selectedColor?.value == color.hex }"
          [style]="{ 'background-color': color.hex }"
        ></div>
        }
      </div>
    </div>
  </div>
  <ng-template #footer>
    <p-button label="Close" severity="secondary" (onClick)="showAddContents.set(false)" />
    <p-button label="Save" severity="success" (onClick)="onClickSaveContent($event)" />
  </ng-template>
</p-dialog>

<p-dialog
  header="Select Content"
  [(visible)]="showContentSelection"
  [style]="{ width: '42rem' }"
  [draggable]="false"
  closable
  modal
>
  <div class="mt-3">
    <app-content-selection
      #contents
      [selectedTypes]="['asset', 'playlist', 'design']"
      [includeDesignLayoutWithPlaylist]="true"
      (selectedContents)="onSelectionChange($event)"
    />
  </div>
</p-dialog>
