<div class="flex flex-col gap-1 h-full relative">
  <p-menubar class="z-50" [model]="layoutItems">
    <ng-template #item let-item let-root="root">
      <a pRipple class="flex items-center p-menubar-item-link">
        <span>{{ item.label }}</span>
        <span *ngIf="item.shortcut" class="ml-auto text-sm">{{ item.shortcut }}</span>
        <i *ngIf="item.childIcon" class="ml-auto !text-sm" [ngClass]="'pi ' + item.childIcon"></i>
      </a>
    </ng-template>
  </p-menubar>

  <div
    class="relative flex flex-col flex-1 items-center justify-center overflow-hidden h-full w-full canvas-boundary"
    cdkDropListGroup
  >
    @if (designLayoutService.getCanvas()) {
    <div
      class="absolute top-0 left-0 py-2 px-1 bg-[var(--p-surface-100)] dark:bg-[var(--p-surface-800)] shadow-lg rounded-lg z-40"
    >
      <app-design-layout-tools (resetDragPosition)="onResetCanvasPosition()" />
    </div>

    <div class="absolute bottom-0 left-0 p-2 bg-[var(--p-surface-100)] dark:bg-[var(--p-surface-800)] shadow-lg rounded-lg z-40">
      <div class="flex items-center gap-2">
        <p-checkbox inputId="showGridLines" [(ngModel)]="showGridLines" (onChange)="onShowGridLinesChange($event)" binary />
        <label for="showGridLines" class="text-sm">Show Grid</label>
      </div>
    </div>
    }

    <div #viewport class="relative flex w-full h-full flex items-center justify-center">
      <div
        #canvasContainer
        class="relative origin-center flex items-center justify-center z-20 overflow-hidden"
        cdkDrag
        [cdkDragDisabled]="!canvasProps.drag"
        cdkDropList
      >
        <!-- <canvas #canvas></canvas> -->
        @for (layer of htmlLayers?.value; track trackById($index, layer)) {
        <div
          class="absolute pointer-events-none z-10 overflow-hidden flex items-center justify-center"
          [id]="layer.id"
          [style]="{
            top: layer.top + 'px',
            left: layer.left + 'px',
            width: layer.width + 'px',
            height: layer.height + 'px',
            transform: 'rotate(' + layer.rotation + 'deg)'
          }"
        >
          @if (!layer.content.marquee) {
          <app-playlist-main-player
            class="relative w-full h-full group bg-stone-800 text-white rounded-lg"
            [playlist]="layer.content"
            [autoPlay]="true"
            [showControls]="false"
          />
          } @else {
          <div class="relative overflow-hidden w-full h-full">
            <div
              id="marquee"
              class="animate-marquee items-center justify-center w-full h-full gap-3 text-white"
              [ngStyle]="{ 'animation-duration': layer.style.duration + 's' }"
            >
              <div class="flex gap-3">
                @for (item of layer.content.repeat; track $index) {
                <p
                  class="font-semibold"
                  [ngStyle]="{ 
                    'font-size.px': layer.style.size,
                    'font-family': layer.style.font,
                    'font-weight': layer.style.weight ? 'bold' : 'normal',
                    'font-style': layer.style.italic ? 'italic' : 'normal',
                    'text-decoration': layer.style.underline ? 'underline' : 'none',
                    'color': layer.style.color,
                }"
                >
                  {{ layer.content.text }}
                </p>
                }
              </div>
              <div class="flex gap-3">
                @for (item of layer.content.repeat; track $index) {
                <p
                  class="font-semibold"
                  [ngStyle]="{ 
                    'font-size.px': layer.style.size,
                    'font-family': layer.style.font,
                    'font-weight': layer.style.weight ? 'bold' : 'normal',
                    'font-style': layer.style.italic ? 'italic' : 'normal',
                    'text-decoration': layer.style.underline ? 'underline' : 'none',
                    'color': layer.style.color,
                }"
                >
                  {{ layer.content.text }}
                </p>
                }
              </div>
            </div>
          </div>
          }
        </div>
        }
      </div>
    </div>

    @if (!designLayoutService.getCanvas()) {
    <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center">
      <p class="text-2xl italic text-gray-400">Create a new design (Alt + Ctrl + N)</p>
    </div>
    } @if (showContents()) {
    <div class="absolute top-0 right-0 h-full z-50">
      <p-card styleClass="h-full">
        <ng-template #title>
          <div class="flex gap-2">
            <p class="text-xl font-semibold">Choose Content</p>
            <p-button
              (onClick)="showContents.set(false)"
              class="ml-auto"
              icon="pi pi-times"
              size="small"
              text
            />
          </div>
        </ng-template>

        <app-content-selection
          #contents
          [selectedTypes]="['asset', 'playlist', 'clipart']"
          [isSelectable]="false"
          (selectedContents)="onSelectedContentChange($event)"
        />
      </p-card>
    </div>
    } @if (canvasProps.zoom) {
    <div
      class="flex items-center gap-5 absolute bottom-0 right-0 z-50 bg-[var(--p-surface-50)] dark:bg-[var(--p-surface-800)] shadow-lg rounded-lg py-2 px-3"
      cdkDragBoundary=".canvas-boundary"
      cdkDrag
    >
      <div class="w-2 h-8 bg-[var(--p-surface-200)] dark:bg-black rounded-lg cursor-move" cdkDragHandle></div>
      <p-slider
        min="0.10"
        max="2.0"
        step="0.01"
        [formControl]="zoomControl"
        class="w-30"
        (onChange)="onZoomChange($event)"
        animate
      />
      <p-button
        icon="pi pi-sync"
        (onClick)="onClickResetZoom()"
        severity="secondary"
        size="small"
      />
      <p class="text-sm">{{ zoomControl.value * 100 | number : '1.0-0' }}%</p>
    </div>
    } @if (canvasProps.selection) {
    <div
      class="flex items-center gap-1 absolute top-0 right-0 z-50 bg-[var(--p-surface-50)] dark:bg-[var(--p-surface-800)] shadow-lg rounded-lg p-2"
      cdkDragBoundary=".canvas-boundary"
      cdkDrag
    >
      <div class="w-2 h-8 bg-[var(--p-surface-200)] dark:bg-black rounded-lg cursor-move" cdkDragHandle></div>
      @for (item of objectAlignments; track $index) {
      <p-button (onClick)="item.command()" text>
        <img
          [src]="isDarkTheme ? item.darkImage : item.image"
          [alt]="item.label"
          [pTooltip]="item.label"
          tooltipPosition="bottom"
          width="15"
        />
      </p-button>
      }
    </div>
    } @if (canvasProps.text) { <app-object-properties propsType="text" /> } @if (canvasProps.rect) {
    <app-object-properties propsType="rect" /> } @if (canvasProps.line) {
    <app-object-properties propsType="line" /> } @if (canvasProps.marquee) {
    <app-object-properties propsType="marquee" /> }
  </div>
  <input
    #importFile
    type="file"
    name="importFile"
    id="importFile"
    accept=".json"
    hidden
    (change)="onImportFile($event)"
  />
</div>

<p-dialog
  header="Create New"
  [(visible)]="showCanvasSize"
  [style]="{ width: '60rem' }"
  [resizable]="false"
  draggable
  modal
>
  <div class="grid grid-cols-1 md:grid-cols-12 gap-3 mt-2">
    <app-screen-selection
      #screen
      class="col-span-1 md:col-span-8"
      (screenChange)="onSelectionChange($event)"
    />
    <div class="col-span-1 md:col-span-4">
      <form class="flex flex-col gap-4" [formGroup]="designForm">
        <p-floatlabel variant="on">
          <input id="name" type="text" pInputText formControlName="name" fluid />
          <label for="name">Name</label>
        </p-floatlabel>
        <p-floatlabel variant="on">
          <textarea
            name="description"
            id="description"
            rows="3"
            formControlName="description"
            pTextarea
            fluid
          ></textarea>
          <label for="description">Description</label>
        </p-floatlabel>
        <div class="flex items-center gap-3">
          <p-floatlabel variant="on">
            <p-select
              inputId="color"
              [options]="colors"
              optionLabel="text"
              optionValue="hex"
              formControlName="color"
              appendTo="body"
            >
              <ng-template #selectedItem let-item>
                <span>{{ item.text.toUpperCase() }}</span>
              </ng-template>
              <ng-template #item let-item>
                <div class="flex items-center gap-2">
                  <div class="w-4 h-4 rounded-full" [style.background-color]="item.hex"></div>
                  <span>{{ item.text.toUpperCase() }}</span>
                </div>
              </ng-template>
            </p-select>
            <label for="color">Color</label>
          </p-floatlabel>
          <p>or</p>
          <p-colorpicker formControlName="color" appendTo="body" />
        </div>
      </form>
    </div>
  </div>
  <ng-template #footer>
    <p-button label="Cancel" severity="secondary" (onClick)="onClickCloseCanvasSize()" />
    <p-button
      label="Create"
      severity="success"
      (onClick)="onClickCreateCanvas()"
      [disabled]="designForm.invalid"
    />
  </ng-template>
</p-dialog>

<p-dialog
  header="Info"
  [(visible)]="showInfo"
  [style]="{ width: '20rem' }"
  [resizable]="false"
  draggable
  modal
>
  <div class="flex flex-col gap-3 text-sm">
    <div class="flex items-center gap-2">
      <p>Name:</p>
      <span class="font-semibold">{{ designFormValue.name }}</span>
    </div>
    <div class="flex items-center gap-2">
      <p>Description:</p>
      <span class="font-semibold">{{ designFormValue.description }}</span>
    </div>
    <div class="flex items-center gap-2">
      <p>Duration:</p>
      <p-tag severity="info" [value]="utils.timeConversion(designFormValue.duration)" />
    </div>
    <div class="flex items-center gap-2">
      <p>Date Created:</p>
      <span class="font-semibold">{{ designFormValue.createdOn | date : 'medium' }}</span>
    </div>
  </div>
</p-dialog>

<p-dialog
  header="Input Text"
  [(visible)]="showInputMarquee"
  (onHide)="marqueeControl.reset()"
  [style]="{ width: '30rem' }"
  [resizable]="false"
  draggable
  modal
>
  <div class="mt-3">
    <p-floatlabel variant="on">
      <input id="text" type="text" [formControl]="marqueeControl" pInputText fluid />
      <label for="text">Enter Text here</label>
    </p-floatlabel>
  </div>
  <ng-template #footer>
    <p-button
      label="Save"
      severity="success"
      [disabled]="marqueeControl.invalid"
      (onClick)="onClickAddMarquee()"
    />
  </ng-template>
</p-dialog>
