@switch (currentContent?.type) {
    @case ('video') {
        <video #video class="max-h-full w-full h-full object-fill" preload="metadata"
            [attr.poster]="null" [controls]="false" [autoplay]="true" [muted]="true" [loop]="true" (ended)="onVideoEnded($event)"></video>
    }
    @case ('web') {
        <iframe #iframe class="w-full h-full border-none"></iframe>
    }
    @case ('image') {
        <img #image class="max-h-full h-full object-fill w-full" [alt]="currentContent?.name || 'preview image'" />
    }
    @default {
        <div class="h-full w-full flex justify-center items-center">
            {{ currentContent?.name || 'Preview Content' }}
        </div>
    }
}