@switch (currentContent?.type) {
    @case ('video') {
        <video #video class="max-h-full w-full h-full object-fill" [src]="currentContent?.link | safeurl" preload="none"
            [attr.poster]="null" [controls]="showControls" [autoplay]="autoPlay" [muted]="true" [loop]="loop"></video>
    }
    @case ('web') {
        <iframe class="w-full h-full border-none" [src]="currentContent?.link | safeurl"></iframe>
    }
    @case ('image') {
        <img class="max-h-full h-full object-fill w-full" [src]="currentContent?.link | safeurl" [alt]="currentContent?.name || 'preview image'" />
    }
    @default {
        <div class="h-full w-full flex justify-center items-center">
            {{ currentContent?.name || 'Preview Content' }}
        </div>
    }
}