<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-12 gap-3">
    <div class="col-span-1 lg:col-span-6 flex gap-4">
        <p class="text-sm">Settings:</p>
        <div class="flex flex-wrap gap-3">
            <p-button styleClass="!bg-cyan-700 !border-cyan-700 hover:!bg-cyan-600" (onClick)="onClickDisplayScreen()" 
                icon="pi pi-desktop" pTooltip="Display" tooltipPosition="bottom" size="small" fluid />
            <p-button styleClass="!bg-cyan-700 !border-cyan-700 hover:!bg-cyan-600" (onClick)="onClickToggleAudio(true)" 
                icon="pi pi-volume-up" pTooltip="Audio On" tooltipPosition="bottom" size="small" fluid />
            <p-button styleClass="!bg-cyan-700 !border-cyan-700 hover:!bg-cyan-600" (onClick)="onClickToggleAudio(false)" 
                icon="pi pi-volume-off" pTooltip="Audio Off" tooltipPosition="bottom" size="small" fluid />
            <p-button styleClass="!bg-cyan-700 !border-cyan-700 hover:!bg-cyan-600" (onClick)="onClickToggleFullscreen(true)" 
                icon="pi pi-window-maximize" pTooltip="Fullscreen" tooltipPosition="bottom" size="small" fluid />
            <p-button styleClass="!bg-cyan-700 !border-cyan-700 hover:!bg-cyan-600" (onClick)="onClickSyncTime()" 
                icon="pi pi-sync" pTooltip="Sync Time" size="small" tooltipPosition="bottom" fluid />
            <p-button styleClass="!bg-cyan-700 !border-cyan-700 hover:!bg-cyan-600" (onClick)="onClickPlaybackContent()" 
                icon="pi pi-file-edit" pTooltip="Playback" tooltipPosition="bottom" size="small" fluid />
            <p-button styleClass="!bg-cyan-700 !border-cyan-700 hover:!bg-cyan-600" (onClick)="onClickClear(true)" 
                icon="pi pi-trash" pTooltip="Clear" tooltipPosition="bottom" size="small" fluid />
        </div>
    </div>
    <div class="col-span-1 lg:col-span-4 flex gap-7">
        <p class="text-sm">Player:</p>
        <div class="flex gap-3">
            <p-button styleClass="!bg-green-500 !border-green-500 hover:!bg-green-600" (onClick)="onClickOpenScreen()" 
                icon="pi pi-play" pTooltip="Open Screen" tooltipPosition="bottom" size="small" fluid />
            <p-button styleClass="!bg-red-500 !border-red-500 hover:!bg-red-600" (onClick)="onClickCloseScreen()"
                icon="pi pi-times-circle" pTooltip="Close Screen" tooltipPosition="bottom" size="small" fluid />
            <p-button styleClass="!bg-cyan-700 !border-cyan-700 hover:!bg-cyan-600" (onClick)="onClickRestartScreen()" 
                icon="pi pi-refresh" pTooltip="Restart" tooltipPosition="bottom" size="small" fluid />
            <p-button styleClass="!bg-red-500 !border-red-500 hover:!bg-red-600" (onClick)="onClickShutdownScreen()" 
                icon="pi pi-power-off" pTooltip="Shutdown" tooltipPosition="bottom" size="small" fluid />
        </div>
    </div>
    <div class="col-span-1 lg:col-span-2 flex gap-6">
        <p class="text-sm">Others:</p>
        <div class="flex gap-3">
            <p-button styleClass="!bg-cyan-700 !border-cyan-700 hover:!bg-cyan-600" (onClick)="onClickBroadCastMessage()" 
                icon="pi pi-megaphone" pTooltip="Broadcast Message" tooltipPosition="bottom" size="small" fluid />
            <p-button styleClass="!bg-cyan-700 !border-cyan-700 hover:!bg-cyan-600" (onClick)="onClickAssignContents()" 
                icon="pi pi-images" pTooltip="Assign Contents" tooltipPosition="bottom" size="small" fluid />
        </div>
    </div>
</div>