<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-12 gap-5 border border-zinc-200 rounded-lg p-3 items-center overflow-hidden">
    <div class="col-span-1 md:col-span-6 flex">
        <div class="flex gap-3 items-center w-full" [formGroup]="selectedContentForm">
            <p-inputgroup>
                <p-inputgroup-addon>
                    <p-button label="Assign Content" severity="info" (onClick)="onClickOpenContents()" outlined />
                </p-inputgroup-addon>
                <input id="name" type="text" placeholder="Content" formControlName="name" readonly pInputText>
                <p-inputgroup-addon>
                    <p-button (onClick)="onClickApplyContents()" [disabled]="selectedContentForm.invalid">
                        <div class="flex gap-2">
                            <img src="assets/vcastplay-logo.png" alt="vcastplay-icon" width="20">
                            <p>Apply</p>
                        </div>
                    </p-button>
                </p-inputgroup-addon>
            </p-inputgroup>
        </div>
    </div>
    <div class="col-span-1 lg:col-span-6" [ngClass]="{ 'py-5': toggleControls() }">
        <div class="flex items-center w-full h-full relative">
            @if (!toggleControls()) { 
                <p-button class="ml-auto transition-opacity duration-300 ease-in-out" pTooltip="Controls" tooltipPosition="bottom"
                    icon="pi pi-cog" (onClick)="onClickToggleControls()" /> 
            }
            <div class="flex items-center absolute right-0 transition-all duration-300 ease-in-out"
                [ngClass]="{ 'translate-x-0 opacity-100': toggleControls(), 'translate-x-full opacity-0': !toggleControls() }">

                <p-button class="ml-auto" icon="pi pi-times" severity="danger" (onClick)="onClickToggleControls()" size="small" text />
                <p-divider layout="vertical"></p-divider>
                <div class="flex flex-wrap gap-3 items-center">
                    <p class="text-sm">Controls:</p>
                    <p-button (onClick)="onClickOpenScreen()"
                        icon="pi pi-play" pTooltip="Open" tooltipPosition="bottom" size="small" fluid />
                    <p-button (onClick)="onClickCloseScreen()"
                        icon="pi pi-times-circle" pTooltip="Close" tooltipPosition="bottom" size="small" fluid />
                    <p-button (onClick)="onClickRestartScreen()"
                        icon="pi pi-refresh" pTooltip="Restart" tooltipPosition="bottom" size="small" fluid />
                    <p-button (onClick)="onClickShutdownScreen()"
                        icon="pi pi-power-off" pTooltip="Shutdown" tooltipPosition="bottom" size="small" fluid />
                    <p-button (onClick)="onClickBroadCastMessage()" 
                        icon="pi pi-megaphone" pTooltip="Broadcast Message" tooltipPosition="bottom" size="small" fluid />
                    <p-button (onClick)="onClickOpenSettings()" 
                        icon="pi pi-cog" pTooltip="Settings" tooltipPosition="bottom" size="small" fluid /> 
                    <!-- styleClass="!bg-cyan-700 !border-cyan-700 hover:!bg-cyan-600"  -->
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog header="Assign Content" [(visible)]="showContents" styleClass="w-[50rem] h-auto" (onHide)="onClickCloseDialog()" 
    [resizable]="false" [modal]="true" [draggable]="false">
    <app-content-selection [selectionContent]="selectionContent" [includeSchedules]="true"
        (contentType)="onContentTypeChange($event)" (selectedContents)="onSelectionChange($event)" />
    <ng-template #footer>
        <p-button label="Close" severity="secondary" (onClick)="onClickCloseDialog()" />
    </ng-template>
</p-dialog>

<p-toast />
<p-confirmdialog />