<div class="flex items-center gap-2 absolute top-0 right-0 z-30 bg-[var(--p-surface-50)] shadow-lg rounded-lg p-2" [formGroup]="rectPropsForm" cdkDrag>
    <div class="w-[5px] h-15 bg-[var(--p-surface-200)] rounded-sm cursor-move" cdkDragHandle></div>
    <div class="flex flex-col gap-2 px-2">
        <p class="text-xs">Properties:</p>
        <div class="flex flex-col md:flex-row md:items-center gap-4">
            @if (style?.value !== 'fill' || lineProps) {
                <div class="w-20">
                    <p-inputnumber formControlName="strokeWidth" [min]="1" size="small" showButtons fluid />
                </div>
            }
            @if (!lineProps) {
                <p-selectbutton styleClass="!bg-[var(--p-surface-200)]" [options]="rectPropOptions" formControlName="style" optionValue="value" [allowEmpty]="false">
                    <ng-template #item let-item>
                        @switch (item.value) {
                            @case('fill') {
                                <div class="w-5 h-5 bg-[var(--p-surface-600)]" [pTooltip]="item.label" tooltipPosition="bottom"></div>
                            }
                            @case('outline') {
                                <div class="w-5 h-5 border-2 border-[var(--p-surface-600)]" [pTooltip]="item.label" tooltipPosition="bottom"></div>
                            }
                            @case('dashed') {
                                <div class="w-5 h-5 border-2 border-dashed border-[var(--p-surface-600)]" [pTooltip]="item.label" tooltipPosition="bottom"></div>
                            }
                        }
                    </ng-template>
                </p-selectbutton>
                <p-button [ngClass]="{ 'bg-[var(--p-surface-300)] rounded-lg' : isTransparent() }" (onClick)="onClickTransparent()" size="small" text>
                    <img src="assets/icons/transparent.png" alt="transparent" pTooltip="Transparent" tooltipPosition="bottom" width="20">
                </p-button>
            }
            <p-colorpicker formControlName="color" appendTo="body" />
        </div>
    </div>
</div>