<div class="flex flex-col gap-4 h-full">
    <app-breadcrumbs [menu]="pageInfo"></app-breadcrumbs>

    <div class="flex-1">
        <p-card styleClass="h-full">
            <ng-template #header>
                <div class="mt-4 px-6">
                    <p class="text-2xl font-semibold">{{ pageInfo[1].label }}</p>
                </div>
            </ng-template>
            <ng-template #title>
                <div class="flex gap-4 items-center mb-2">
                    <app-filters class="w-full md:w-[25rem]"></app-filters>
                    <div class="hidden md:flex gap-3 ml-auto">
                        <p-button (onClick)="onClickAddNew()" label="Add Role" icon="pi pi-plus" />
                        <p-button (onClick)="onClickRefresh()" label="Refresh" variant="outlined" icon="pi pi-refresh"></p-button>
                    </div>
                    <div class="flex gap-3 md:hidden">
                        <p-button (onClick)="onClickAddNew()" label="" icon="pi pi-plus" pTooltip="Add Role" tooltipPosition="bottom" />
                        <p-button (onClick)="onClickRefresh()" label="" variant="outlined" icon="pi pi-refresh" pTooltip="Refresh" tooltipPosition="bottom" />
                    </div>
                </div>
            </ng-template>
            <div class="flex-1 md:h-full">
                <p-table
                    class="hidden lg:block" 
                    [value]="roleService.loadingSignal() ? utils.tableSkeletonRows : filteredRoles()" 
                    selectionMode="single"
                    [scrollable]="true" 
                    size="small"  
                    stripedRows
                >
                    <ng-template #header>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Last Update</th>
                            <th><div class="text-center">Actions</div></th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-item>
                        @if (roleService.loadingSignal()) {
                            <tr>
                                <td><p-skeleton height="2rem" /></td>
                                <td><p-skeleton height="2rem" /></td>
                                <td><p-skeleton height="2rem" /></td>
                                <td><p-skeleton height="2rem" /></td>
                                <td><p-skeleton height="2rem" /></td>
                            </tr>
                        } @else {
                            <tr class="text-sm" [pSelectableRow]="item">
                                <td>{{ item.name }}</td>
                                <td>{{ item.description }}</td>
                                <td><p-tag [value]="item.status" [severity]="utils.getStatus(item.status)" /></td>
                                <td>{{ item.updatedOn | date: 'mediumDate' }}</td>
                                <td class="flex flex-row justify-center gap-2">
                                    <ng-container *ngTemplateOutlet="actionBtn; context: { $implicit: item }"></ng-container>
                                </td>
                            </tr>
                        }
                    </ng-template>
                    <ng-template #emptymessage>
                        <tr>
                            <td colspan="5" [height]="20">
                                <div class="flex justify-center p-5"><p>No roles found</p></div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <div class="block lg:hidden flex flex-col gap-5">
                    @if (!roleService.loadingSignal()) {
                        @for (item of filteredRoles(); track $index) {
                            <app-role-list-item [item]="item" [actionBtn]="actionBtn" />
                        } @empty {
                            <div class="flex justify-center items-center p-5 h-100">
                                <p>No roles found</p>
                            </div>
                        }
                    } @else {
                        @for (item of utils.tableSkeletonRows; track $index) {
                            <p-skeleton height="5rem" />
                        }
                    }
                </div>
            </div>
            <ng-template #footer>
                <p-paginator [rows]="rows" [totalRecords]="totalRecords"></p-paginator>
            </ng-template>
        </p-card>
    </div>
</div>

<ng-template #actionBtn let-item>
    <p-button (onClick)="onClickEdit(item)" pTooltip="Edit" tooltipPosition="bottom" icon="pi pi-pencil" severity="success" size="small" />
    <p-button (onClick)="onClickDelete(item, $event)" pTooltip="Delete" tooltipPosition="bottom" icon="pi pi-trash" severity="danger" size="small" />
</ng-template>

<p-dialog header="Role Information" [(visible)]="showDialog" styleClass="w-[30rem] md:w-[40rem] h-auto" [modal]="true" [draggable]="false">
    <app-role-details [roleForm]="roleForm" />
    <ng-template #footer>
        <p-button label="Cancel" severity="secondary" (onClick)="onClickCancel()" />
        <p-button label="Save" (onClick)="onClickSave($event)" />
    </ng-template>
</p-dialog>