<div class="md:absolute md:top-0 md:left-0 md:w-[50%] lg:w-[30%] z-20 md:m-5 my-5">
    <div class="flex flex-col items-center gap-2 w-full h-full p-2 mb-3 rounded-sm bg-white justify-between shadow-lg">
        <div class="flex w-full gap-2">
            <p-inputgroup>
                <input type="text" pInputText [(ngModel)]="keywords" placeholder="Search Screen" />
                <p-inputgroup-addon>
                    <p-button (onClick)="keywords.set('')" [icon]="'pi ' + (keywords() != '' ? 'pi-times' : 'pi-search')" />
                </p-inputgroup-addon>
            </p-inputgroup>
            <p-button (onClick)="initializeMap()" [text]="false" pTooltip="Refresh" tooltipPosition="bottom" icon="pi pi-refresh" />
        </div>
        <div class="flex items-center gap-2 w-full">
            <p-selectbutton [options]="statusOptions" [(ngModel)]="status" optionLabel="label" optionValue="value" aria-labelledby="basic" />
        </div>
    </div>
    <div class="hidden md:block">
        @if (selectedScreen()) {
            <p-panel class="w-full">
                <ng-template #header>
                    <div class="flex justify-between items-center gap-3 w-full">
                        <div class="flex items-center gap-3">
                            <p-button (onClick)="onClickCancel()" [text]="true" icon="pi pi-arrow-left" />
                            <h3 class="font-bold text-xl">{{ selectedScreen()?.name }}</h3>
                        </div>
                        <p-tag [value]="selectedScreen()?.status?.toUpperCase()" [severity]="utils.getStatus(selectedScreen()?.status ?? 'offline')" />
                    </div>
                </ng-template>
                <div class="flex flex-col gap-4 p-3">
                    <div class="flex flex-col gap-1">
                        <div class="font-semibold">Resolution</div>
                        <p class="text-sm italic">{{ selectedScreen()?.displaySettings?.resolution }}</p>
                    </div>
                    <!-- <div class="flex flex-col gap-1">
                        <div class="font-semibold">Layout</div>
                        <p class="text-sm italic">{{ selectedScreen()?.layout }}</p>
                    </div> -->
                    <div class="flex flex-col gap-1">
                        <div class="font-semibold">More Details</div>
                        <p class="text-sm italic">...</p>
                    </div>
                </div>
                <div class="flex justify-end">
                    <p-button (onClick)="onClickEdit(selectedScreen())" class="float-right" label="Edit" icon="pi pi-pencil" />
                </div>
            </p-panel>
        } @else {
            <p-accordion value="0">
                <p-accordion-panel value="0">
                    <p-accordion-header>Screens</p-accordion-header>
                    <p-accordion-content>
                        <p-scroll-panel styleClass="h-[200px]">
                            @for (item of filterScreens(); track $index) {
                                <div class="flex justify-between items-center border-b-1 p-2 border-gray-200 hover:bg-gray-100" (click)="onClickScreen(item)">
                                    <div class="flex flex-col gap-1">
                                        <div class="font-semibold">{{ item.name }}</div>
                                        <p class="text-sm italic">{{ item.displaySettings.resolution }}</p>
                                    </div>
                                    <p-tag [value]="item.status.toUpperCase()" [severity]="utils.getStatus(item.status)" />
                                </div>
                            }
                        </p-scroll-panel>
                    </p-accordion-content>
                </p-accordion-panel>
            </p-accordion>
        }
    </div>

    @if (isMobile) {
        <p-drawer styleClass="hidden" [(visible)]="drawerVisible" position="bottom" [style]="{ height: 'auto' }" (onHide)="initializeMap()">
            <p-panel class="w-full">
                <ng-template #header>
                    <div class="flex justify-between items-center gap-3 w-full">
                        <h3 class="font-bold text-xl">{{ selectedScreen()?.name }}</h3>
                        <p-tag [value]="selectedScreen()?.status?.toUpperCase()" [severity]="utils.getStatus(selectedScreen()?.status ?? 'offline')" />
                    </div>
                </ng-template>
                <div class="flex flex-col gap-4 p-3">
                    <div class="flex flex-col gap-1">
                        <div class="font-semibold">Resolution</div>
                        <p class="text-sm italic">{{ selectedScreen()?.displaySettings?.resolution }}</p>
                    </div>
                    <!-- <div class="flex flex-col gap-1">
                        <div class="font-semibold">Layout</div>
                        <p class="text-sm italic">{{ selectedScreen()?.layout }}</p>
                    </div> -->
                    <div class="flex flex-col gap-1">
                        <div class="font-semibold">More Details</div>
                        <p class="text-sm italic">...</p>
                    </div>
                </div>
                <div class="flex justify-end">
                    <p-button (onClick)="onClickEdit(selectedScreen())" class="float-right" label="Edit" icon="pi pi-pencil" />
                </div>
            </p-panel>
        </p-drawer>
    }
</div>

<div id="screenMap" class="rounded-lg z-5" #screenMap></div>