<div class="flex flex-col gap-4">
    <div class="flex flex-col gap-4" [formGroup]="screenForm">
        <div class="flex gap-4" formGroupName="operation">
            <p-toggleSwitch inputId="alwaysOn" formControlName="alwaysOn" binary />
            <label for="alwaysOn">Always On</label>
        </div>

        <p-fieldset legend="Weekdays">
            <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 p-2" formGroupName="operation">
                <div class="flex items-center gap-2">
                    <p-checkbox value="All" (onChange)="onCheckAllWeekdays($event)" [indeterminate]="isCheckedWeekday()" binary />
                    <label for="All">All</label>
                </div>
                @for (item of weekdays; track $index) {
                    <div class="flex items-center gap-2">
                        <p-checkbox [value]="item" formControlName="weekdays" />
                        <label [for]="item">{{ item }}</label>
                    </div>
                }
            </div>
        </p-fieldset>
    </div>

    <div class="flex flex-col gap-4">
        <div class="flex gap-2 items-center">
            <p class="font-semibold">Hours</p>
            <div class="ml-auto">
                <p-button label="Add Hours" (onClick)="onClickAddHours()" icon="pi pi-plus" size="small" />
            </div>
        </div>
        <p-table [value]="hoursControl?.value" scrollHeight="240px" showGridlines scrollable>
            <ng-template #header>
                <tr>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>
                        @if (hoursControl?.value.length > 0) {
                            <p-button icon="pi pi-trash" severity="danger" (onClick)="hoursControl?.reset()" text />
                        }
                    </th>
                </tr>
            </ng-template>
            <ng-template #body let-item let-index="rowIndex">
                <tr>
                    <td>
                        <p-datepicker [(ngModel)]="item.start" [timeOnly]="true" appendTo="body"
                            [iconDisplay]="'input'" placeholder="Start Time" hourFormat="12" showIcon fluid>
                            <ng-template #inputicon let-clickCallBack="clickCallBack">
                                <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
                            </ng-template>
                        </p-datepicker>
                    </td>
                    <td>
                        <p-datepicker [(ngModel)]="item.end" [timeOnly]="true" appendTo="body"
                            [iconDisplay]="'input'" placeholder="End Time" hourFormat="12" showIcon fluid>
                            <ng-template #inputicon let-clickCallBack="clickCallBack">
                                <i class="pi pi-clock" (click)="clickCallBack($event)"></i>
                            </ng-template>
                        </p-datepicker>
                    </td>
                    <td>
                        <p-button icon="pi pi-trash" severity="danger" text (onClick)="onClickDeleteHour(item)"></p-button>
                    </td>
                </tr>
            </ng-template>
            <ng-template #emptymessage>
                <tr>
                    <td colspan="3" [height]="20">
                        <div class="flex justify-center p-5"><p class="italic">No Data found</p></div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>