<div class="flex flex-col gap-1 h-full">
    <app-breadcrumbs [menu]="pageInfo"></app-breadcrumbs>
    <div class="flex-1">
        <p-card styleClass="h-full">
            <div class="flex flex-col md:flex-row gap-1 md:gap-4 items-end md:items-start md:justify-between mb-8 md:mb-2">
                <app-filters class="w-full md:w-[25rem]"></app-filters>
                <div class="flex gap-2">
                    <!-- <p-button (onClick)="onClickAddNew()" label="Register" icon="pi pi-plus"></p-button>
                    <p-button (onClick)="onClickRefresh()" label="Refresh" variant="outlined" icon="pi pi-refresh"></p-button> -->
                    <p-button [label]="!isMobile ? 'Download' : ''" variant="outlined" icon="pi pi-download" [text]="isMobile" />
                </div>
            </div>
            <div class="flex-1 md:h-full">
                <p-table
                    class="hidden lg:block" 
                    [value]="screenService.loadingSignal() ? utils.tableSkeletonRows : filteredScreen()" 
                    selectionMode="single"
                    [scrollable]="true" 
                    size="small"  
                    stripedRows
                >
                    <ng-template #header>
                        <tr>
                            <th>Screen</th>
                            <th>Orientation</th>
                            <th>Resolution</th>
                            <th>Groups</th>
                            <th>Last Update</th>
                            <th>Status</th>
                            <th>
                                <div class="text-center">Actions</div>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template #body let-item>
                        <tr>
                            <td>
                                <div class="flex items-center gap-4">
                                    <div class="flex items-center gap-4 bg-[var(--p-primary-500)] 
                                        text-white rounded-full p-3" [pTooltip]="item.type.toUpperCase()" tooltipPosition="bottom">
                                        @switch (item.type) {
                                            @case('desktop') { <i class="pi pi-desktop"></i> }
                                            @case('mobile') { <i class="pi pi-mobile"></i> }
                                            @default { <i class="pi pi-globe"></i> }
                                        }
                                    </div>

                                    <div class="flex flex-col">
                                        <p class="text-base font-semibold">{{ item.name }}</p>
                                        <p class="text-sm">{{ item.code }}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <p class="text-sm font-semibold">{{ item.displaySettings.orientation.toUpperCase() ?? '-' }}</p>
                            </td>
                            <td>
                                <p class="text-sm">{{ item.displaySettings.resolution }}</p>
                            </td>
                            <td>
                                @if (!item.category || !item.subCategory) {
                                    <p class="text-sm text-red-500 italic">No category available</p>
                                } @else {
                                    {{ item.category }} & {{ item.subCategory }}
                                }
                            </td>
                            <td>{{ item.updatedOn | date: 'mediumDate' }}</td>
                            <td><p-tag [value]="item.status.toUpperCase()" [severity]="utils.getStatus(item.status)" /></td>
                            <td>
                                <div class="flex flex-row justify-center gap-2">
                                    <ng-container *ngTemplateOutlet="actionBtn; context: { $implicit: item }"></ng-container>
                                </div> 
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template #emptymessage>
                        <tr>
                            <td colspan="9" [height]="20">
                                <div class="flex justify-center p-5"><p class="italic">No Data found</p></div>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                <div class="block lg:hidden flex flex-col gap-4">
                    @if (!screenService.loadingSignal()) {
                        @for (item of filteredScreen(); track $index) {
                            <app-screen-list-item [screen]="item" [actionBtn]="actionBtn" />
                        } @empty {
                            <div class="flex justify-center items-center p-5 h-100">
                                <p>No screend found</p>
                            </div>
                        }
                    } @else {
                        @for (item of utils.tableSkeletonRows; track $index) {
                            <p-skeleton height="5rem" />
                        }
                    }
                </div>
            </div>
            <ng-template #footer>
                <p-paginator [rows]="rows" [totalRecords]="totalRecords"></p-paginator>
            </ng-template>
        </p-card>
    </div>
</div>

<ng-template #actionBtn let-item>
    <p-button (onClick)="onClickEdit(item)" pTooltip="Edit" tooltipPosition="bottom" icon="pi pi-pencil" severity="success" size="small"/>
    <p-button (onClick)="onClickDelete(item, $event)" pTooltip="Delete" tooltipPosition="bottom" icon="pi pi-trash" severity="danger" size="small" />
</ng-template>

<p-toast />
<p-confirmdialog />