<div class="relative flex flex-col w-full h-full gap-2">

    <p-menubar class="w-full" [model]="menuBarItems" ariaLabel="Menu" appendTo="body">
        <ng-template #end>
            <div *ngIf="artboard as artboardProp" class="flex items-center gap-3">
                <i class="pi pi-minus"></i>
                <p-slider class="w-30" 
                    [(ngModel)]="artboardProp.scale"
                    [min]="0.10"
                    [max]="2"
                    [step]="0.01"
                    (onChange)="onApplyTransform()"
                    animate />
                <i class="pi pi-plus"></i>
                <p-button (onClick)="onReset()" icon="pi pi-sync" size="small" text />
            </div>
        </ng-template>
    </p-menubar>

    <div class="relative flex gap-3 flex-1 w-full">
        @if (artboard) {
            <app-design-editor-tools class="bg-[var(--p-surface-100)] dark:bg-[var(--p-surface-800)]" 
                (toolbarChange)="onToolbarChange($event)" />
        }

        <div class="grid grid grid-cols-1 md:grid-cols-12 gap-4 w-full h-full">
            
            <div 
                #workspace
                class="overflow-hidden select-none workspace col-span-12 md:col-span-9"
                (wheel)="onWheel($event)"
            >
                <div #viewport class="relative w-full h-full">
                    <ng-container *ngIf="artboard as artboardProp">
                        <div 
                            #artboard
                            class="artboard bg-white absolute transform origin-top-left shadow-lg overflow-hidden"
                            [style.width.px]="artboardProp.width"
                            [style.height.px]="artboardProp.height"
                            [style.background-color]="artboardProp.backgroundColor"
                            (mousedown)="onArtboardFunction($event)"
                        >
                            @for (item of artboardObjects; track trackByFn($index, item)) {
                                <div class="item flex items-center justify-center" 
                                    [attr.data-id]="item.id" 
                                    [style.left.px]="item.x" 
                                    [style.top.px]="item.y"
                                    [style.width.px]="item.w"
                                    [style.height.px]="item.h" 
                                    [style.transform]="'rotate(' + item.a + 'deg)'"
                                    [style.transform-origin]="'center center'"
                                    (mousedown)="onItemClick($event, item)">
                                    @switch(item.type) {
                                        @case ('text') {
                                            <p class="w-full h-full break-words" 
                                                [style.italic]="item.content.text"
                                                [style.fontSize.px]="item.content.size">
                                                {{ item.content.text || 'Enter text' }}
                                            </p>
                                        }
                                        @case ('clipart') {
                                            <img [src]="item.content.link" class="w-full h-full" [alt]="item.content.name">
                                        }
                                        @case ('playlist') {
                                            <app-playlist-player class="pointer-events-none w-full h-full" [playlist]="item.content" [isAutoPlay]="true" />
                                        }
                                        @default {
                                            <app-asset-preview class="pointer-events-none w-full h-full" [asset]="item.content" [autoPlay]="true" />
                                        }
                                    }
                                </div>
                            }

                            <div class="selection-box" *ngIf="selectionBox"
                                [ngStyle]="{ left: selectionBox.x + 'px', top: selectionBox.y + 'px',
                                            width: selectionBox.w + 'px', height: selectionBox.h + 'px' }">
                            </div>

                            <div 
                                class="multi-bbox relative" *ngIf="multiBox" 
                                    [ngStyle]="{ left: multiBox.x + 'px', top: multiBox.y + 'px',
                                        width: multiBox.w + 'px', height: multiBox.h + 'px',
                                        transform: 'rotate(' + multiBox.a + 'deg)', 'transform-origin': 'center center'
                                    }"
                            >
                                <!-- LINE FROM BOX TO HANDLE -->
                                <div class="rotate-line"></div>

                                <!-- ROTATE HANDLE -->
                                <div class="rotate-handle" data-rotate="true"></div>

                                <div class="handle tl" data-dir="tl"></div>
                                <div class="handle t" data-dir="t"></div>
                                <div class="handle tr" data-dir="tr"></div>

                                <div class="handle l" data-dir="l"></div>
                                <div class="handle r" data-dir="r"></div>

                                <div class="handle bl" data-dir="bl"></div>
                                <div class="handle b" data-dir="b"></div>
                                <div class="handle br" data-dir="br"></div>
                            </div>

                        </div>
                    </ng-container>
                </div>
            </div>

            @if (artboard) {
                <div class="col-span-12 md:col-span-3">
                    <app-design-editor-properties [selectedObject]="selectedObject" />
                </div>
            }
        </div>
    </div>
</div>


<app-design-layout-options [showCanvasSize]="showCanvasSize" (canvasSizeChange)="canvasSizeChange($event)" />

<p-drawer header="Select Contents" styleClass="!w-full md:!w-80 lg:!w-[30rem] !h-screen max-h-full" [(visible)]="showContent" position="right" appendTo="body">
    <app-content-selection #contents [selectedTypes]="['asset', 'playlist', 'clipart']"
        [isSelectable]="false" (selectedContents)="onSelectedContentChange($event)"
    />
</p-drawer>