<div class="flex flex-col gap-1 h-full">
    <app-breadcrumbs [menu]="pageInfo"></app-breadcrumbs>
    <div class="flex-1">
        <p-card styleClass="h-full">
            <p-tabs [value]="0" [showNavigators]="false" [lazy]="true" [selectOnFocus]="true" scrollable>
                <p-tablist>
                    @for (tab of filteredAudienceTagList(); track $index) {
                        <p-tab [value]="$index">{{ tab.name }}</p-tab>
                    }
                </p-tablist>
                <p-tabpanels>
                    @for (tab of filteredAudienceTagList(); track $index) {
                        <p-tabpanel [value]="$index">
                            <div class="my-3">
                                <ng-container *ngTemplateOutlet="audienceTagInput; context: {
                                    control: audienceTagControl,
                                    label: tab.name,
                                    id: tab.id,
                                    onClick: onClickSave,
                                    type: tab.id,
                                    index: $index
                                }"></ng-container>
                            </div>
                            <p-table [value]="tab.data()" size="small">
                                <ng-template #header>
                                    <tr>
                                        <th>Name</th>
                                        <th style="width: 5rem;">Actions</th>
                                    </tr>
                                </ng-template>
                                <ng-template #body let-item>
                                    <tr>
                                        <td>{{ item }}</td>
                                        <td class="flex flex-row justify-center gap-2">
                                            <ng-container *ngTemplateOutlet="actionBtn; context: { $implicit: item, type: tab.id }"></ng-container>
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template #emptymessage>
                                    <tr>
                                        <td colspan="2" [height]="20">
                                            <div class="flex justify-center p-5"><p class="italic">No Data found</p></div>
                                        </td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </p-tabpanel>
                    }
                </p-tabpanels>
            </p-tabs>
        </p-card>
    </div>
</div>

<ng-template #audienceTagInput let-control="control" let-label="label" let-id="id" let-onClick="onClick" let-type="type" let-index="index">
    <p-inputgroup>
        <p-floatlabel variant="on">
            <input [id]="id" type="text" [formControl]="control" pInputText fluid>
            <label [for]="id">{{ label }}</label>
        </p-floatlabel>
        <p-inputgroup-addon>
            <p-button icon="pi pi-plus" [text]="false" pTooltip="Add" tooltipPosition="bottom" (onClick)="onClick(control.value, type, label)" />
        </p-inputgroup-addon>
    </p-inputgroup>
</ng-template>

<ng-template #actionBtn let-item let-type="type">
    <p-button (onClick)="onClickDelete($event, item, type)" pTooltip="Delete" tooltipPosition="bottom" icon="pi pi-trash" severity="danger" size="small" />
</ng-template>

<p-toast />
<p-confirmdialog />