<div class="flex flex-col gap-1 h-full relative">
    <app-breadcrumbs [menu]="pageInfo"></app-breadcrumbs>
    <p-card styleClass="h-full" class="flex-1" [formGroup]="playListForm" cdkDropListGroup>
        <ng-template #title>
            <div class="flex items-center justify-between gap-4">
                <div class="flex items-center gap-2">
                    <p-button (onClick)="onClickCancel()" icon="pi pi-arrow-left" pTooltip="Back" tooltipPosition="bottom" size="small" text />
                    <p class="text-sm md:text-xl font-semibold">{{ isEditMode() ? 'Edit Playlist' : 'New Playlist' }}</p>
                    @if (isEditMode()) {
                        <p-tag [value]="formControl('status').value?.toUpperCase()" [icon]="'pi ' + utils.getIcon(formControl('status').value)"
                            [severity]="utils.getStatus(formControl('status').value)" />
                    }
                </div>
                <p-button class="hidden md:flex gap-2" label="Save Playlist" icon="pi pi-save" (onClick)="onClickSave($event)" />
                <p-button class="flex md:hidden gap-2" icon="pi pi-save" (onClick)="onClickSave($event)" />
            </div>
        </ng-template>
        <div class="grid grid-cols-1 md:grid-cols-12 gap-2 h-full mt-2">
            <div class="col-span-1 md:col-span-6 xl:col-span-8 flex flex-col gap-2">

                <div class="grid grid-flow-row grid-cols-1 md:grid-cols-12 gap-4">
                    <div class="col-span-1 md:col-span-3">
                        <p-floatlabel variant="on">
                            <label for="name">Name</label>
                            <input id="name" pInputText formControlName="name"
                                [ngClass]="{ 'ng-invalid ng-dirty': formControl('name').invalid && formControl('name').touched }" fluid />
                        </p-floatlabel>
                    </div>
                    <div class="col-span-1 md:col-span-9 flex justify-between gap-2">
                        <div class="w-full">
                            <p-floatlabel variant="on">
                                <label for="description">Description</label>
                                <input id="description" pInputText formControlName="description"
                                    [ngClass]="{ 'ng-invalid ng-dirty': formControl('description').invalid && formControl('description').touched }" fluid />
                            </p-floatlabel>
                        </div>
                    </div>
                </div>

                <!-- Preview Contents -->                
                <app-preview-playlist class="relative flex-1 border-2 border-[var(--p-surface-300)] group bg-stone-800 text-white rounded-lg" 
                    [playlist]="playListForm.value" />
            </div>

            <!-- Assets Lists -->
            <div class="col-span-1 md:col-span-6 xl:col-span-4">
                <div class="flex flex-col gap-2 border border-[var(--p-surface-300)] rounded-lg h-80 md:h-full">
                    <div class="p-3 flex items-center gap-2">
                        <app-asset-filter class="w-full" (filterChange)="onFilterChange($event)" />
                        <p-selectbutton [options]="assetViewModes" [formControl]="assetViewModeCtrl" optionLabel="label" optionValue="label" [allowEmpty]="false">
                            <ng-template #item let-item>
                                <i [class]="item.icon" [pTooltip]="item.label" tooltipPosition="bottom"></i>
                            </ng-template>
                        </p-selectbutton>
                    </div>
                    <div class="relative flex-1 overflow-y-auto cursor-grab" cdkDropList [cdkDropListData]="assets()" 
                        cdkDragPreviewContainer="body" cdkDropListOrientation="vertical">
                        <div class="px-3 pb-2 absolute w-full"  [ngClass]="{ 
                            'grid grid-cols-2 xl:grid-cols-3 gap-3': assetViewModeSignal() == 'Grid',
                            'flex flex-col gap-5 ': assetViewModeSignal() == 'List'
                        }">
                            @for (item of filteredAssets(); track $index) {
                                <app-asset-list-item [asset]="item" />
                            } @empty {
                                <div class="flex items-center justify-center h-full w-full" [ngClass]="{ 'col-span-3 ': assetViewModeSignal() == 'Grid' }">
                                    <p class="text-gray-400 italic">No items found</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #footer>
            <div class="grid grid-cols-1 md:grid-cols-3 md:flex w-full items-center gap-2 py-2">
                <div class="flex items-center gap-2">
                    <p-checkbox formControlName="loop" inputId="loop" binary />
                    <label for="loop" class="text-sm">Loop Video</label>
                </div>
                <div class="flex flex-col md:flex-row md:items-center gap-4" formGroupName="transition">
                    <div class="flex items-center gap-2">
                        <p-checkbox formControlName="hasGap" inputId="hasGap" binary />
                        <label for="hasGap" class="text-sm">Black Gap</label>
                    </div>
                    <div class="flex items-center gap-2">
                        <p-select placeholder="Transition" formControlName="type" size="small" optionLabel="label" 
                            optionValue="transition" [options]="transitionTypes" showClear />
                    </div>
                    <div class="flex items-center gap-2">
                        <label for="speed" class="text-sm">Transition Speed:</label>
                        <p-inputnumber formControlName="speed" size="small" inputId="speed" [min]="0"
                            placeholder="Speed" [useGrouping]="false" [inputStyle]="{ width: '4rem' }" showButtons />
                        <span>sec.</span>
                    </div>
                </div>
                @if (totalDuration() > 0) {
                    <div class="md:ml-auto"><p-button severity="danger" label="Clear All" (onClick)="onClickClearAll()" size="small" /></div>
                }
            </div>
            <app-playlist-container [playListForm]="playListForm" />
            <div class="flex w-full justify-between items-center mt-2">
                <p-tag severity="info" [value]="'Duration: ' + utils.timeConversion(totalDuration())" />
                <p class="italic text-sm text-red-400 hidden md:block">Hold Shift + Mouse Wheel to scroll</p>
            </div>
        </ng-template>
    </p-card>
</div>

<p-toast />
<p-confirmdialog />