<div class="flex flex-col gap-1 h-full relative">
    <app-breadcrumbs [menu]="pageInfo"></app-breadcrumbs>
    <p-card styleClass="h-full" class="flex-1" [formGroup]="playListForm" cdkDropListGroup>
        <ng-template #title>
            <div class="flex items-center justify-between gap-4">
                <div class="flex items-center gap-2">
                    <p-button (onClick)="onClickCancel()" icon="pi pi-arrow-left" pTooltip="Back" tooltipPosition="bottom" size="small" text />
                    <p class="text-sm md:text-xl font-semibold">{{ isEditMode() ? 'Edit Playlist' : 'New Playlist' }}</p>
                    @if (isEditMode()) {
                        <p-tag [value]="formControl('status').value" [icon]="'pi ' + utils.getIcon(formControl('status').value)"
                            [severity]="utils.getStatus(formControl('status').value)" />
                    }
                </div>
                <div class="hidden md:flex gap-2">
                    <p-button label="Get Contents" icon="pi pi-images" size="small" severity="info" (onClick)="onClickGetContents()" />
                    <p-button label="Save Playlist" icon="pi pi-save" size="small" (onClick)="onClickSave($event)" />
                </div>
                <div class="flex md:hidden gap-2">
                    <p-button icon="pi pi-images" size="small" severity="info" (onClick)="onClickGetContents()" />
                    <p-button icon="pi pi-save" size="small" (onClick)="onClickSave($event)" />
                </div>
            </div>
        </ng-template>
        <div class="grid grid-cols-1 md:grid-cols-12 gap-2 h-full mt-2">
            <div class="col-span-1 flex flex-col gap-2"
                [ngClass]="{ 'md:col-span-6 xl:col-span-8': !isExpanded(), 'md:col-span-12': isExpanded() }">

                <div class="grid grid-flow-row grid-cols-1 md:grid-cols-12 gap-4">
                    <div class="col-span-1 md:col-span-3">
                        <p-floatlabel variant="on">
                            <label for="name">Name</label>
                            <input id="name" pInputText formControlName="name"
                                [ngClass]="{ 'ng-invalid ng-dirty': formControl('name').invalid && formControl('name').touched }" fluid />
                        </p-floatlabel>
                    </div>
                    <div class="col-span-1 md:col-span-9 flex justify-between gap-2">
                        <div class="w-full">
                            <p-floatlabel variant="on">
                                <label for="description">Description</label>
                                <input id="description" pInputText formControlName="description"
                                    [ngClass]="{ 'ng-invalid ng-dirty': formControl('description').invalid && formControl('description').touched }" fluid />
                            </p-floatlabel>
                        </div>
                        <p-button [icon]="!isExpanded() ? 'pi pi-times' : 'pi pi-image'" pTooltip="Contents" tooltipPosition="bottom"
                            (onClick)="isExpanded.set(!isExpanded())" outlined />
                    </div>
                </div>

                <!-- Preview Contents -->
                 <app-playlist-preview class="relative flex-1 border-2 border-[var(--p-surface-300)] group bg-stone-800 text-white rounded-lg"
                    [currentContent]="playlistService.currentContent()" />
            </div>

            <div class="col-span-1 md:col-span-6 xl:col-span-4" [ngClass]="{ 'hidden': isExpanded() }">
                <div class="flex flex-col gap-2 border border-[var(--p-surface-300)] rounded-lg h-80 md:h-full">
                    <div class="p-3 flex items-center gap-2">
                        <p-inputgroup>
                            <input type="text" pInputText [formControl]="keywords" placeholder="Search" />
                            <p-inputgroup-addon>
                                <p-button pTooltip="Filter" tooltipPosition="bottom" icon="pi pi-filter" />
                            </p-inputgroup-addon>
                        </p-inputgroup>
                        <p-selectbutton [options]="assetViewModes" [formControl]="assetViewModeCtrl" optionLabel="label" optionValue="label" [allowEmpty]="false">
                            <ng-template #item let-item>
                                <i [class]="item.icon" [pTooltip]="item.label" tooltipPosition="bottom"></i>
                            </ng-template>
                        </p-selectbutton>
                    </div>
                    <div class="relative flex-1 overflow-y-auto cursor-grab" cdkDropList [cdkDropListData]="assets()" 
                        cdkDragPreviewContainer="body" cdkDropListOrientation="vertical">
                        <div class="px-3 pb-2 absolute w-full"  [ngClass]="{ 
                            'grid grid-cols-2 xl:grid-cols-3 gap-3': assetViewModeSignal() == 'Grid',
                            'flex flex-col gap-5 ': assetViewModeSignal() == 'List'
                        }">
                            @for (item of filteredAssets(); track $index) {
                                <app-asset-list-item [asset]="item" />
                            } @empty {
                                <div class="flex items-center justify-center h-full w-full" [ngClass]="{ 'col-span-3 ': assetViewModeSignal() == 'Grid' }">
                                    <p class="text-gray-400 italic">Click "Get Contents" to add contents</p>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-template #footer>
            <div class="grid grid-cols-1 md:grid-cols-3 md:flex w-full items-center gap-2 py-2">
                <div class="flex items-center gap-2">
                    <p-checkbox formControlName="loop" inputId="loop" binary />
                    <label for="loop" class="text-sm">Loop Video</label>
                </div>
                <div class="flex flex-col md:flex-row md:items-center gap-4" formGroupName="transition">
                    <div class="flex items-center gap-2">
                        <p-checkbox formControlName="hasGap" inputId="hasGap" binary />
                        <label for="hasGap" class="text-sm">Black Gap</label>
                    </div>
                    <div class="flex items-center gap-2">
                        <p-select placeholder="Transition" formControlName="type" size="small" optionLabel="label" 
                            optionValue="transition" [options]="transitionTypes" showClear />
                    </div>
                    <div class="flex items-center gap-2">
                        <label for="speed" class="text-sm">Transition Speed:</label>
                        <p-inputnumber formControlName="speed" size="small" inputId="speed" [min]="0"
                            placeholder="Speed" [useGrouping]="false" [inputStyle]="{ width: '4rem' }" showButtons />
                        <span>sec.</span>
                    </div>
                </div>
                @if (totalDuration() > 0) {
                    <div class="md:ml-auto"><p-button severity="danger" label="Clear All" (onClick)="onClickClearAll()" size="small" /></div>
                }
            </div>
            <app-playlist-container [playListForm]="playListForm" />
            <div class="flex w-full justify-between items-center mt-2">
                <p-tag severity="info" [value]="'Duration: ' + utils.timeConversion(totalDuration())" />
                <p class="italic text-sm text-red-400 hidden md:block">Hold Shift + Mouse Wheel to scroll</p>
            </div>
        </ng-template>
    </p-card>
</div>

<p-dialog header="Select Contents" [(visible)]="showContents" [style]="{ width: '50rem', height: '520px' }" [draggable]="false" closable modal>
    <app-playlist-select-contents [playListForm]="playListForm" (assetSelected)="selectedAssets.set($event)" />
    <ng-template #footer>
        <div class="flex items-center w-full gap-2">
            @if (activeStep() > 1) {
                <p-button label="Back" severity="secondary" icon="pi pi-arrow-left" (onClick)="activeStep.set(1)" size="small" />
                <p-button class="ml-auto" label="Complete" severity="success"
                    icon="pi pi-check" iconPos="right" (onClick)="onClickComplete($event)" size="small" />
            } @else {
                <p-button class="ml-auto" label="Next" icon="pi pi-arrow-right" (onClick)="activeStep.set(2)" size="small" />
            }
        </div>
    </ng-template>
</p-dialog>

<p-toast />
<p-confirmdialog />